button {
  display: inline-flex;
  margin-top: 8px;
  margin-left: 5px;
  color: #b81f40 !important;
  border-style: solid !important;
  border-color: #b81f40 !important;
}

button:hover {
  background-color: #ffcccc !important;
}
