button {
  display: inline-flex;
  margin-top: 8px;
}

.my-mat-button {
  margin-right: 5px;
  position: relative;
  z-index: 1;
}

.my-mat-button:hover {
  background-color: #595959;
  color: #FFFFFF;
}

.my-mat-button:focus {
  background-color: #595959;
  color: #FFFFFF;
}
