<app-dialog-component [title]="title$ | async" (okEmitter)="clickedConvertToTeam()"
                      [formGroup]="chooseStructure"
                      [saveAndCloseLabel]="saveAndCloseLabel$ | async">


  <div *ngFor="let company of companyStructures$ | async">
    <div class="company-header">
      {{company.name}}
    </div>
    <app-convert-topic-draft-tree *ngFor="let substructure of company.substructures"
                                  [substructure]="substructure"></app-convert-topic-draft-tree>
  </div>
</app-dialog-component>

