<form [formGroup]="userSettingsForm" class="settingsForm">
  <mat-form-field class="form-whole-line">
    <mat-select (selectionChange)="onSelectCompany()" formControlName="defaultCompanyId"
                i18n-placeholder="@@defaultCompany" placeholder="Standard Unternehmen">
      <mat-option [value]="null"><span i18n="@@component_settingsForm_NoCompany">Kein Unternehmen</span>
      </mat-option>
      <mat-option *ngFor="let company of (companies$ | async)" [value]="company.id">
        {{company.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-whole-line">
    <mat-select formControlName="defaultTeamId" i18n-placeholder="@@defaultTeam" placeholder="Standard Team">
      <mat-option [value]="null"><span i18n="@@component_settingsForm_NoTeam">Kein Team</span></mat-option>
      <mat-option *ngFor="let department of (departments$ | async)" [value]="department.id">
        {{department.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
