<form [formGroup]="newPasswordForm" class="newPasswordForm" appCapsLock (capsLock)="capsLock=$event">
  <mat-form-field class="form-whole-line" *ngIf="previousPasswordNecessary">
    <input
      formControlName="previousPassword"
      i18n-placeholder="@@previousPassword"
      matInput
      placeholder="Vorheriges Passwort"
      required
      type="password">
    <mat-error *ngIf="newPasswordForm.get('previousPassword').errors?.required" i18n="@@errorMessagePreviousPasswordRequired">
      Das vorherige Passwort muss angegeben werden.
    </mat-error>
    <mat-error *ngIf="newPasswordForm.get('previousPassword').errors?.wrongPassword" i18n="@@errorMessagePreviousPasswordWrong">
      Das vorherige Password ist falsch angegeben worden.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-whole-line">
    <input
      formControlName="newPassword"
      i18n-placeholder="@@newPassword"
      matInput
      placeholder="Neues Passwort"
      required
      type="password">
  </mat-form-field>
  <mat-form-field class="form-whole-line">
    <input
      formControlName="newPasswordRepetition"
      i18n-placeholder="@@newPasswordRepetition"
      matInput
      placeholder="Neues Passwort wiederholen"
      required
      type="password">
  </mat-form-field>
  <mat-error class="error-span"
             *ngIf="newPasswordForm.get('newPassword').valid
                 && newPasswordForm.invalid"
             i18n="password do not match@@passwordsDoNotMatch">
    Die Eingaben stimmen nicht überein.
  </mat-error>
  <mat-error class="error-span"
             *ngIf="newPasswordForm.get('newPassword').invalid"
             i18n="new password not valid@@newPasswordInvalid">
    Das Passwort muss mindestens 7 Zeichen enthalten
  </mat-error>
  <mat-error class="error-span"
             *ngIf="capsLock"
             i18n="caps lock is on@@capsLockOn">
    Die Feststelltaste ist aktiv
  </mat-error>
</form>


