<div class="list-entry" [ngClass]="isSecondUnit? 'secondary-color':'first-color'">
  <div class="flex-nowrap">
    <button mat-button class="entry-title"
      [ngClass]="isCurrentDepartment()? 'selected-child-unit':!schema.isActive? 'inactive-element-stronger' : '' "
      [routerLink]="['./departments/'+schema.id]">
      <div class="flex-nowrap">
        <mat-icon *ngIf="isUnitSubstructure()" i18n-matTooltip="@@component_navigationListEntry_isSubstructure" matTooltip="Dies ist eine Unterstruktur" class="icon-spacer">
          account_tree</mat-icon>
        <mat-icon *ngIf="isUnitTeam()" i18n-matTooltip="@@component_navigationListEntry_isTeam" matTooltip="Dies ist ein Team" class="icon-spacer">
          supervisor_account</mat-icon>
        <div class="unit-name overflow-ellipsis">{{schema.name}}
        </div>
        <div class="fill-space"></div>
        <mat-icon *ngIf="isManagerOfUnit()" i18n-matTooltip="@@component_navigationListEntry_youAreManager" matTooltip="Sie sind Manager dieser Struktur" class="icon-spacer">
          person_outline</mat-icon>
        <mat-icon *ngIf="isMemberOfUnit()" i18n-matTooltip="@@component_navigationListEntry_youAreMember" matTooltip="Sie sind Mitglied dieser Struktur" class="icon-spacer">
          people_outline</mat-icon>
        <button *ngIf="hasChildUnits()" mat-icon-button (click)="$event.stopPropagation();toggleOpen()">
          <mat-icon *ngIf="isOpen">expand_less</mat-icon>
          <mat-icon *ngIf="!isOpen">expand_more</mat-icon>
        </button>
      </div>
    </button>
  </div>

  <div *ngIf="isOpen && hasChildUnits()" class="list-subentries">
    <app-navigation-list-entry *ngFor="let departmentSchema of schema.subDepartments"
                               [schema]="departmentSchema" [isSecondUnit]="!isSecondUnit"
                               [startsOpen]="schema.subDepartments.length === 1">
    </app-navigation-list-entry>
  </div>
</div>
