@import '../../../styles/themes/bag-theme';

.list-entry {
  margin: 6px 4px;
}

.list-subentries {
  padding: 4px;
}

.unit-name{
  white-space: normal;
  line-height: 24px;
}

.entry-title {
  flex:1;
  text-align: left;
  min-height: 40px;
  padding: 0 8px;
}

.first-color {
  background-color: #fafafa;
}

.secondary-color {
  background-color: $bag-theme-white;
}

.selected-child-unit {
  background-color: #ffcbcb;
}

.font-italic {
  font-style: italic;
}
