.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
shutdown.pid

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/burning-okr-app/src/main/resources/application-local.yaml
/burning-okr-app/src/main/resources/application-mssql.yaml
/burning-okr-app/logs/
/burning-okr-app/src/main/resources/application-local.yml
/burning-okr-app/src/main/resources/application-local-azure.yml
