.edit-dashboard-title {
  display: flex;
  justify-content: center;
  text-align-last: center;
  font-size: large;
  font-weight: bolder;
  margin: 10px 10px 20px 10px;

  mat-form-field {
    width: 50VW;
  }
}

.button-save-chart-wrapper {
  margin: 40px 0 20px 19%;
}

.chart-creation-add-button {
  margin: 0 0 0 5px;
}

.save-changes-button {
  margin: 15px 0 0 5px;
}

@media only screen and (max-width: 600px) {

}

.edit-chart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

@media (max-width: 780px) {
  .edit-chart {
    grid-template-columns: repeat(1, 1fr);
  }
}

.edit-chart-options {
  display: flex;
  flex-direction: column;
  height: 30VH;
  width: 300px;
}
