.edit-dashboard-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit-dashboard-title {
  text-align-last: center;
  font-size: large;
  font-weight: bolder;
  margin: 20px 0 20px 0;

  mat-form-field {
    width: 300px;
  }
}

.edit-charts {
  width: 300px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 10%;

  &:last-child {
    grid-column-gap: 0;
  }
}

.edit-chart-options {
  display: flex;
  flex-direction: column;
  //width: 300px;

  button {
    margin-bottom: 10px;
  }
}

.edit-charts-buttons {
  margin: 20px 0 0 0;
  height: auto;
}

.chart-creation-add-button {
  margin: 0 10px 0 0;
}

@media (max-width: 780px) {
  .edit-charts {
    grid-template-columns: repeat(1, 1fr);
  }
  .edit-chart-options {
    margin: 20px 0 20px 0;
  }
}

//@media only screen and (max-width: 600px) {
//
//}
