<app-dialog-component (okEmitter)="onSave()" [isSaveButtonDisabled]="rowData.data.length === 0 || warnings.duplicateEmailAdresses">
  <p i18n="@@importCsvDialog_description"> Diese Funktion ermöglicht es Benutzer mit einer CSV Datei zu importieren. Die CSV Datei muss die Userdaten dabei
    in folgender Reihenfolge bereit stellen: Vorname, Nachname, Email, Jobbezeichung, Abteilung </p>
  <p *ngIf="rowData.data.length > 0" i18n="@@importCsvDialog_amountOfEntriesLoaded">Es wurden {{rowData.data.length}} Einträge geladen.</p>
  <p *ngIf="warnings">
    <mat-error *ngIf="warnings.tooManyFields" i18n="@@importCsvDialog_toManyEntriesWarning">Mindestens ein Eintrag hat zu viele spalten.</mat-error>
    <mat-error *ngIf="warnings.duplicateEmailAdresses" i18n="@@importCsvDialog_duplicateEmailAdressesWarning">In diesem Datensatz sind doppelte Email Adressen.</mat-error>
  </p>
  <mat-form-field [formGroup]="fileForm">
    <ngx-mat-file-input [formControl]="fileForm.controls.csvFile" accept=".csv, .txt"
                        placeholder="CSV-Datei" i18n-placeholder="@@importCsvDialog_csv-file"></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>
  <div style="max-height: 600px; overflow-y: auto">
    <table [dataSource]="rowData" mat-table matSort>
      <ng-container matColumnDef="givenName">
        <th i18n="@@name" *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
        <td *matCellDef="let user" mat-cell>{{user.givenName + ' ' + user.surname}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th i18n="@@email" *matHeaderCellDef mat-header-cell mat-sort-header>Email</th>
        <td *matCellDef="let user" mat-cell>{{user.email}}</td>
      </ng-container>
      <ng-container matColumnDef="department">
        <th i18n="@@abteilung_department" *matHeaderCellDef mat-header-cell mat-sort-header>Abteilung</th>
        <td *matCellDef="let user" mat-cell>{{user.department}}</td>
      </ng-container>
      <ng-container matColumnDef="jobTitle">
        <th i18n="@@jobTitle" *matHeaderCellDef mat-header-cell mat-sort-header>Jobbezeichnung</th>
        <td *matCellDef="let user" mat-cell>{{user.jobTitle}}</td>
      </ng-container>

      <tr *matHeaderRowDef="columnsToDisplay;" mat-header-row sticky></tr>
      <tr *matRowDef="let myRowData; columns: columnsToDisplay" mat-row></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10,20,25,50,100]" pageSize="25"></mat-paginator>
</app-dialog-component>
