<div class="container footer-margin">

  <div class="content-container">
    <h1>DATENSCHUTZ</h1>

    <div class="content-container">
      Mit dieser Erklärung informieren wir Sie über datenschutzrelevanten Aspekte sowie über die eingesetzten Maßnahmen, um Ihre Rechte zu wahren. Die Brockhaus AG hält sich an die Anforderungen des Bundesdatenschutzgesetzes (BDSG) und der EU-Datenschutzgrundverordnung (EU-DSGVO).
    </div>
  </div>

  <div class="content-container">
    <h3>1. ERFASSUNG UND NUTZUNG PERSONENBEZOGENER DATEN</h3>

    <div class="content-container">
      <h4>1.1. Grundsätzliches</h4>
      Ihre Daten dienen allein dazu, Ihnen ein größtmögliches benutzerfreundliches, praktisches und sicheres Internetangebot anbieten zu können. Zu den personenbezogenen Daten gehören alle Informationen über persönliche oder sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person, z.B. Name, Adresse, Kontaktdaten, IP-Adressen, übertragene Datenmengen usw.
    </div>

    <div class="content-container">
      <h4>1.2. Rechtsgrundlagen</h4>
      a) Die Bereitstellung dieser Webseite mit Produkten und Leistungen: Vertragsanbahnung bzw. Vertragserfüllung<br>
      b) Anfragen per Post, eMail oder Fax an uns: Vertragsanbahnung bzw. Vertragserfüllung<br>
      c) Links zu anderen Angeboten oder Auswertung der Zugriffe: berechtigtes Interesse
    </div>

    <div class="content-container">
      <h4>1.3. Automatische Verarbeitung durch Webseiten-Betrieb</h4>
      Die Webseiten werden bei einem Provider in West Europa (Frankfurt, Deutschland) betrieben, der seinerseits für den Betrieb des Webangebotes die Zugriffe auf das System in sogenannten Serverlogs speichert. Hierbei werden in der Regel folgende Daten erhoben: IP-Adressen, Zeitstempel der Zugriffe, Namen der Webseiten, Übertragene Datenmengen, Abmeldungen bzw. Abbrüche, Browsertypen, Infos vom Betriebssystem, Referrer URLs. Diese Daten werden von uns nicht gespeichert oder ausgewertet. Im Falle eines berechtigten Verdachts auf Missbrauch anhand von konkreten Informationen, können diese Logfiles nachträglich geprüft werden.
    </div>

    <div class="content-container">
      <h4>1.4. Dateneingaben durch den Webseiten-Nutzer</h4>
      Sie können darüber hinaus, unsere Webseiten ohne die Eingabe persönlicher Daten uneingeschränkt nutzen. Sofern wir personenbezogene Daten erheben (Kontaktformular) werden wir jeweils über den Zweck, Umfang, Rechtmäßigkeit, und mögliche Weitergaben informieren und dies nur für diese Zwecke nutzen. Die Eingabe dieser Daten durch Sie erfolgt freiwillig.
    </div>
  </div>

  <div class="content-container">
    <h3>2. VERWENDUNG DER DATEN</h3>

    <div class="content-container">
      <h4>2.1. Nutzung zur Leistungserbringung</h4>
      Wir verwenden die erhobenen und verarbeiteten personenbezogenen Daten ausschließlich zu Zwecken der Erbringung unserer Leistungen aus der mit Ihnen geschlossenen Nutzungsvereinbarung sowie zur Abwicklungen von Zahlungen. Dabei beachten wir selbstverständlich alle anwendbaren Datenschutzgesetze, insbesondere das Bundesdatenschutzgesetz/EU-DSGVO sowie das Telemediengesetz (TMG).
    </div>

    <div class="content-container">
      <h4>2.2. Weitergabe an Dritte</h4>
      Wir geben Ihre personenbezogenen Daten nicht an Dritte für Marketing- oder ähnliche Zwecke weiter. Eine Weitergabe von Daten erfolgt nur, wenn und soweit dies zur Durchführung der Nutzungsvereinbarung notwendig ist, die Brockhaus AG gesetzlich dazu verpflichtet wird oder es zur Durchsetzung der allgemeinen Nutzungsbedingungen oder anderer mit Ihnen geschlossenen Vereinbarungen sowie unserer Rechte und Forderungen erforderlich sein sollte.
    </div>

    <div class="content-container">
      <h4>2.3. Kundeninformationen per eMail</h4>
      Im Rahmen der Kundenbindung, versenden wir aktuelle Informationen an unsere Kunden, um Sie über Neuigkeiten und Änderungen innerhalb unseres Angebots zu informieren. Diese Informationen sind nicht zu verwechseln mit den allgemeinen Newslettern. Sofern es unsere Angebote betrifft und z.B. sicherheitsrelevante Punkte enthält oder wichtige Informationen aus unserem Hause, so können wir dies nur per eMail abwickeln. Bitte haben Sie Verständnis dafür.
    </div>
  </div>


  <div class="content-container">
    <h3>3. COOKIES</h3>

    <div class="content-container">
      Unsere Webseite verwendet Cookies, um Ihnen einen effektiven Umgang und ein benutzerfreundliches Handling zu bieten. Dies macht den Einsatz von Cookies erforderlich und begründet unser berechtigtes Interesse, diese Technik zu nutzen. Die meisten Browser bieten Ihnen die Funktionalität, sich die verwendeten Cookies anzeigen zu lassen.
    </div>

    <div class="content-container">
      Falls Sie die Verwendung von Cookies jedoch generell unterbinden möchten, besteht dazu bei Ihrem Browser die Möglichkeit, die Annahme und Speicherung neuer Cookies zu verhindern. Um herauszufinden, wie dies bei Ihrem Browser funktioniert, benutzen Sie bitte die Hilfe-Funktion des jeweiligen Browsers. Wir empfehlen Ihnen jedoch, die Cookies-Funktionen eingeschaltet zu lassen, da Ihnen nur dann das hohe Niveau des Benutzungskomforts, welches wir für Sie eingerichtet haben, in vollem Umfang zu Gute kommt. Wir erstellen keine Nutzerprofile aus diesen durch Cookies erfassten Nutzerdaten.
    </div>
  </div>


<!--  <div class="content-container">-->
<!--    <h3>4. WEBSEITEN-AUSWERTUNGEN BZW. TOOLS</h3>-->
<!--  -->
<!--    <div class="content-container">-->
<!--      Wir setzen folgendes Analyse-Tool für die Auswertung unserer Webseiten ein und beschreiben Ihnen dieses wie folgt:-->
<!--    </div>-->
<!--  -->
<!--    <div class="content-container">-->
<!--      <h4>Bisher keine</h4>-->
<!--    </div>-->
<!--  </div>-->



  <div class="content-container">
    <h3>4. SICHERHEIT</h3>


    <div class="content-container">
      Die Brockhaus AG setzt technische und organisatorische Sicherheitsmaßnahmen ein, um zu gewährleisten, dass Ihre personenbezogenen Daten vor Verlust, unrichtigen Veränderungen oder unberechtigten Zugriffen Dritter geschützt sind. In jedem Fall haben nur berechtigte Personen Zutritt zu den persönlichen Daten, und dies auch nur insoweit, als es im Rahmen der oben genannten Zwecke erforderlich ist. Die Sicherheitsmaßnahmen werden ständig den verbesserten technischen Möglichkeiten angepasst.
    </div>
  </div>



  <div class="content-container">
    <h3>5. WEITERE INFORMATIONSPFLICHTEN</h3>

    <div class="content-container">
      <h4>5.1. Verantwortliche Stelle</h4>
      BROCKHAUS AG, Lünen. Vollständige Kontaktdaten siehe Impressum.
    </div>

    <div class="content-container">
      <h4>5.2. Datenschutzbeauftragter</h4>
      P2 Consult<br>
      Jürgen Golda<br>
      Wilhelm-Bläser-Str. 3c, D-59174 Kamen<br>
      Telefon: +49 (0) 2307 28 74 488<br>
      Mail: datenschutz@brockhaus-ag.de<br>
    </div>

    <div class="content-container">
      <h4>5.3. Speicherdauer</h4>
      Wir speichern Ihre Daten solange der Zweck der Speicherung erhalten bleibt (Anfragen, Projekte, Verträge, etc.) Sollte der Zweck entfallen oder Sie die Einwilligung zurückziehen, werden Ihre Daten durch den regelmäßigen Löschlauf gelöscht, sofern keine gesetzlichen Aufbewahrungsfristen eingehalten werden müssen.
    </div>

    <div class="content-container">
      <h4>5.4. Kinder</h4>
      Wir werden Daten von Kindern wissentlich nicht sammeln und verarbeiten. Sofern Schüler Anfragen stellen, werden wir die Daten nur dann speichern, wenn die ausdrückliche Zustimmung der Erziehungsberechtigten haben. Sofern Daten von Kindern dann gespeichert werden dürfen, werden wir diese nur im Rahmen der gesetzlichen Vorgaben weitergeben. Unter den Begriff "Kinder" fallen die Definitionen aus dem nationalen Recht und den bei uns geltenden gesetzlichen Bestimmungen.
    </div>

    <div class="content-container">
      <h4>5.5. Profiling</h4>
      Profiling Ihrer Daten findet nicht statt.
      Eine automatische Entscheidungsfindung und/oder ein Profiling mit Ihren Daten findet bei uns nicht statt.
    </div>

    <div class="content-container">
      <h4>5.6. Ihre Rechte</h4>
      Sie können uns jederzeit ansprechen, wenn Sie eine Auskunft, eine Löschung, eine Einschränkung oder ein Widerspruch geltend machen wollen. Nutzen Sie dazu die vorhandenen Kontaktdaten. Anfragen müssen schriftlich gestellt werden, damit wir den Anfrager eindeutig identifizieren können.
    </div>

    <div class="content-container">
      <h4>5.7. Beschwerderecht</h4>
      Sofern Sie berechtigte Zweifel an unserem Umgang mit ihren Daten haben, informieren Sie uns oder wenden sie sich an die entsprechende Aufsichtsbehörde.
    </div>

    <div class="content-container">
      <h4>5.8. Änderungen</h4>
      Wir behalten uns das Recht vor, diese Datenschutzerklärung von Zeit zu Zeit anzupassen. Deshalb empfehlen wir Ihnen eine regelmäßige Durchsicht dieser Erklärung.
    </div>
  </div>

</div>
