<button (click)="viewTopicDraft()" class="my-mat-card topic-draft-card box-shadow" mat-button>
  <div class="topic-draft-content-wrapper">
    <span class="topic-draft-content">{{topicDraft.initiator.givenName}} {{topicDraft.initiator.surname}}</span>
    <span class="topic-draft-content">{{topicDraft.beginning | dateFormat | async}}</span>
    <span class="topic-draft-content" title="{{topicDraft.name}}">{{topicDraft.name}}</span>
    <span (click)="$event.stopPropagation();" class="topic-draft-options-wrapper">
          <app-topic-draft-action-button (editedTopicDraftEvent)="notifyWrapperOfEditing($event)"
                                         class="topic-draft-options-button"
                                         (topicDraftDeletedEvent)="notifyWrapperOfDeletion()" [topicDraft]="topicDraft">
          </app-topic-draft-action-button>
      </span>
  </div>
  <app-status-dot [state]="topicDraft.currentStatus" class="topic-draft-status-icon"></app-status-dot>
</button>
