.app-toolbar {
  position:fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
.warningText
{
  color: white;
  text-align: center;
  font-size: small;
  line-height: 1.2;
}
.user-interactions {
  float: right;
  display: flex;
  align-items: center;
}

.toolbar-spacer {
  min-height: 64px;
}

#mainPageButton {
  margin-right: 10px;
}

.break-word {
  word-break: break-word;
}

.adminIcon {
  z-index: 2;
  position: relative;
  left: 20px;
  top: 17px;
}


mat-toolbar mat-toolbar-row {
  height: 64px;
  min-height: 64px;
  padding: 0 10px;
}
