<app-okr-toolbar>
  <button (click)="navigateToCompanies()" i18n-matTooltip="@@component_submittedTopicDrafts_navigateToOkrUnitOverview" matTooltip="Zur Strukturübersicht" class="navbar-item" mat-icon-button>
      <mat-icon>home</mat-icon>
  </button>
  <span class="full-text" id="submitted-topic-drafts-page-topic" i18n="Eingereichte Themenentwürfe@@component_submittedTopicDrafts_submittedTopicDrafts">Eingereichte Themenentwürfe</span>
  <span class="short-text">Themenentwürfe</span>
  <span class="fill-space"></span>
</app-okr-toolbar>


<div class="content-wrapper">
  <div class="content">
    <app-submitted-topic-draft-cards-wrapper [topicDrafts]="rowData.data"></app-submitted-topic-draft-cards-wrapper>
    <button mat-icon-button mat-mini-fab color="accent" style="float:right" (click)="clickedAddTopicDraft()">
      <mat-icon
        matTooltip="Neuen Themenentwurf hinzufügen">add_circle_outline
      </mat-icon>
    </button>
  </div>
</div>


