<app-okr-toolbar>
    <button (click)="navigateToCompanies()" i18n-matTooltip="@@component_submittedTopicDrafts_navigateToOkrUnitOverview" matTooltip="Zur Strukturübersicht" class="navbar-item" mat-icon-button>
        <mat-icon>home</mat-icon>
    </button>
    <span i18n="@@component_submittedTopicDrafts_submittedTopicDrafts">Eingereichte Themenentwürfe</span>
    <span class="fill-space"></span>
</app-okr-toolbar>


<div class="content-wrapper">
  <div class="content">
    <app-submitted-topic-draft-cards-wrapper [topicDrafts]="rowData.data"></app-submitted-topic-draft-cards-wrapper>
  </div>
</div>
