td.topic-draft-content {
  padding-right: 6px;
  padding-left: 6px;
}

th.topic-draft-content-header {
  padding-right: 6px;
  padding-left: 6px;
}

app-submitted-topic-draft-card {
  margin-bottom: 30px;
}
