.item-actions button {
  margin: 60px 10px 0 0;
}

.fill-space {
  flex: 1 1 auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

//.company-card {
//  margin: 35px;
//  cursor: pointer;
//}

.margin-toolbar {
  margin-top: 35px;
  margin-left: 35px;
}

.app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
