<app-okr-toolbar>
  <button mat-icon-button class="toolbar-margin-icon" matTooltip="{{ 'cycle-admin-container.tooltip.go-back-to-company' | translate }}" (click)="routeToCompany()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button (click)="navigateToCompanies()" matTooltip="{{ 'cycle-admin-container.tooltip.go-to-okr-unit-overview' | translate }}" class="navbar-item" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span>{{ 'cycle-admin-container.administration' | translate }}</span>
  <span class="fill-space"></span>
</app-okr-toolbar>
<!-- Generell Buttons -->
<div class="margin-toolbar item-actions">
  <app-add-button text="{{'cycle-admin-container.create-new-cycle' | translate }}" (buttonClicked)="createCycle()"> </app-add-button>
</div>
<div *ngFor="let cycle of (cycles$ | async)">
  <app-cycle-admin-card (cycleChanged)="loadCycles()" [cycle]="cycle" [allCyclesOfCompany$]="cycles$"></app-cycle-admin-card>
</div>
