<app-okr-toolbar-bare>
  <button mat-icon-button class="toolbar-margin-icon" i18n-matTooltip="@@component_demoMainView_home" matTooltip="Home"
          routerLink="/demo">
    <mat-icon>home</mat-icon>
  </button>
  <span i18n="@@component_demoMainView_title">Burning OKR</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" i18n="@@component_demoMainView_playground" (click)="openPlayground()">Playground</button>
</app-okr-toolbar-bare>
<router-outlet></router-outlet>
