@use '~@angular/material' as mat;
@import '../../../node_modules/@angular/material/theming';

@include mat.core();

$md-primary: (
  50 : #F6E4E8,
  100 : #eabcc6,
  200 : #dc8fa0,
  300 : #cd6279,
  400 : #c3415d,
  500 : #b81f40,
  600 : #b11b3a,
  700 : #a81732,
  800 : #a0122a,
  900 : #910a1c,
  A100 : #ffbfc6,
  A200 : #ff8c98,
  A400 : #ff596a,
  A700 : #ff4053,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  ));

$md-secondary: (
  50 : #E9FAF4,
  100 : #C8F2E3,
  200 : #A3E9D0,
  300 : #7EE0BD,
  400 : #62D9AF,
  500 : #46D2A1,
  600 : #3FCD99,
  700 : #37C78F,
  800 : #2FC185,
  900 : #20B674,
  A100 : #EFFFF7,
  A200 : #BCFFE0,
  A400 : #89FFC8,
  A700 : #6FFFBC,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$md-warn: (
  50 : #fcefeb,
  100 : #f8d7ce,
  200 : #f3bcae,
  300 : #eea18d,
  400 : #eb8d74,
  500 : #e7795c,
  600 : #e47154,
  700 : #e0664a,
  800 : #dd5c41,
  900 : #d74930,
  A100 : #ffffff,
  A200 : #ffeae7,
  A400 : #ffbeb4,
  A700 : #ffa89b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$md-success: (
  50 : #e9f6f3,
  100 : #c8e9e1,
  200 : #a4dbce,
  300 : #7fccba,
  400 : #63c1ab,
  500 : #48b69c,
  600 : #41af94,
  700 : #38a68a,
  800 : #309e80,
  900 : #218e6e,
  A100 : #cbffef,
  A200 : #98ffdf,
  A400 : #65ffcf,
  A700 : #4cffc7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$md-info: (
  50 : #e9f3f7,
  100 : #c8e2ec,
  200 : #a3cfe0,
  300 : #7ebcd3,
  400 : #63adc9,
  500 : #479fc0,
  600 : #4097ba,
  700 : #378db2,
  800 : #2f83aa,
  900 : #20729c,
  A100 : #d7f1ff,
  A200 : #a4deff,
  A400 : #71ccff,
  A700 : #58c3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$md-tertiary: (
  50 : #edeaf1,
  100 : #d3ccdc,
  200 : #b6aac5,
  300 : #9887ae,
  400 : #826e9c,
  500 : #6c548b,
  600 : #644d83,
  700 : #594378,
  800 : #4f3a6e,
  900 : #3d295b,
  A100 : #c6a3ff,
  A200 : #a670ff,
  A400 : #863dff,
  A700 : #7624ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  ));


$bag-theme-primary: mat.define-palette($md-primary);
$bag-theme-accent: mat.define-palette($md-secondary);
$bag-theme-warn: mat.define-palette($md-warn);
$bag-theme-green: mat.define-palette($md-success);
$bag-theme-blue: mat.define-palette($md-info);

$bag-theme: mat.define-light-theme($bag-theme-primary, $bag-theme-accent, $bag-theme-warn);

@include mat.all-component-themes($bag-theme);
