.taskboard-state-column-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

@media (max-width: 1550px) {
  .taskboard-state-column-view {
    justify-content: initial;
    overflow-x: auto;
  }
}


.taskboard-column {
  display: inline-block;
}
