.unit-name-entry {
  width: calc(100% - 45px);
  text-align: left;
}

.substructures {
  margin-left: 2%;
}

.horizontal-line {
  border: 0 solid #a81732;
  border-bottom-width: 1px;
  border-bottom-left-radius: 5px;
}
