@import '../../../../../styles/themes/bag-theme';

.app-is-mobile .app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.user-container {
  padding-bottom: 110px;
}

.mat-column-active {
  max-width: 15em;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-email {
  max-width: 15em;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-givenName {
  max-width: 15em;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-department {
  max-width: 15em;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-jobTitle {
  max-width: 15em;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-isAdmin {
  max-width: 15em;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
