@import '../../../../../styles/themes/bag-theme';

.app-is-mobile .app-toolbar {
  position: fixed;
  // Make sure the toolbar will stay on top of the content as it scrolls past.
  z-index: 2;
}

.mat-column-active, .mat-column-email, .mat-column-givenName, .mat-column-department, .mat-column-jobTitle,
.mat-column-isAdmin {
  max-width: 15em;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: initial;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.name-column {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.add-button {
  margin-right: 8px;
}
@media only screen and (max-width: 810px) {
  .hidden-mobile-table {
    display: none !important;
  }
}
