<div *ngIf="childUnit$ | async as childUnit; else loading">
  <button class="previewButton" [ngClass]="{ 'inactive-element': !childUnit.isActive }" mat-raised-button [routerLink]="['../../departments', unitId]" i18n-matTooltip="@@component_departmentPreviewButton_showDepartment" matTooltip="Struktur anzeigen">
    <div class="d-flex center">
      <div class="f-1">
        <mat-icon class="font-32">{{isOkrBranch(childUnit) ? 'account_tree' : 'group'}}</mat-icon>
      </div>
      <div class="f-5 overflow-ellipsis">
        {{ childUnit.label }}
        <br/>
        {{ childUnit.name }}
        <div class="d-flex">
          <div class="f-1">
            <mat-icon i18n-matTooltip="@@component_departmentPreviewButton_listObjectives" matTooltip="Objectives dieses Struktur">list</mat-icon>
            {{ childUnit.objectives.length }}
          </div>
          <div class="f-1" *ngIf="isOkrBranch(childUnit)">
            <mat-icon i18n-matTooltip="@@component_departmentPreviewButton_listChildUnit" matTooltip="Unterstrukturen dieser Struktur">low_priority</mat-icon>
            <!-- IDEs will show an error at okrUnitIds, because it is not a member of OkrChildUnit -->
            <!-- But it is safe to access okrUnitIds here, because we check that the childUnit is an OkrBranch before. -->
            {{ childUnit.okrUnitIds.length }}
          </div>
        </div>
      </div>
      <div class="f-05" *ngIf="!childUnit.isActive">
        <mat-icon i18n-matTooltip="@@component_departmentPreviewButton_notActive" matTooltip="Diese Okr Einheit ist nicht aktiv">info</mat-icon>
      </div>
    </div>
  </button>
</div>

<!-- Placeholder for loading -->
<ng-template #loading>
  <mat-card class="previewButton">
    <p i18n="@@component_departmentPreviewButton_load">Lade {{ title }}</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card>
</ng-template>
