.previewButton {
  height: 112px;
  width: 386px;
  margin: 8px;
  text-align: center;
  padding: 2px;
  font-size: 16px;
  line-height: 150%;
}

@media only screen and (max-width: 420px) {
  .previewButton {
    width: 240px;
  }
}
