<app-non-logged-in-card toolbarTitle="Setup - Admin erstellen">
  <mat-card-header>
    <mat-card-title>Burning OKR - Setup - Initialen Admin erstellen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerAdminForm">
      <table class="fullWidth">
        <tr>
          <td>
            <mat-form-field class="form-whole-line">
              <input
                formControlName="firstName"
                i18n-placeholder="@@firstName"
                matInput
                matInput
                placeholder="Vorname"
                required
              >
            </mat-form-field>
            <mat-form-field class="form-whole-line">
              <input
                formControlName="lastName"
                i18n-placeholder="@@lastName"
                matInput
                matInput
                placeholder="Nachname"
                required
              >
            </mat-form-field>
            <mat-form-field class="form-whole-line">
              <input
                autocomplete="username"
                formControlName="email1"
                i18n-placeholder="@@email"
                matInput
                placeholder="Email"
                required
                type="email">
              <mat-error *ngIf="f.email1.errors?.email" i18n="error message for invalid email@@errorInvalidEmail">
                Ungültige E-mail
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-whole-line">
              <input
                autocomplete="username"
                formControlName="email2"
                matInput
                i18n-placeholder="@@repeatEmail" placeholder="Email wiederholen"
                required
                type="email">
              <mat-error *ngIf="f.email2.errors?.email" i18n="error message for invalid email@@errorInvalidEmail">
                Ungültige E-mail
              </mat-error>
              <mat-error *ngIf="f.email2.errors?.emailsNotEqual"
                         i18n="error message for mismatching emails@@emailErrorNotEqual">
                Die Email-Adressen stimmen nicht überein.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-whole-line">
              <input
                autocomplete="password"
                formControlName="password1"
                i18n-placeholder="@@password"
                matInput
                i18n-placeholder="@@password" placeholder="Passwort"
                required
                type="password">
              <mat-error *ngIf="f.password1.errors?.minlength"
                         i18n="error message when password is under minLength of 8@@passwordErrorMinlength">
                Passwort muss mindestens 8 Zeichen lang sein.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="form-whole-line">
              <input
                autocomplete="password"
                formControlName="password2"
                i18n-placeholder="@@passwordRepeat"
                matInput
                placeholder="Passwort wiederholen"
                required
                type="password">
              <mat-error *ngIf="f.password2.errors?.passwordsNotEqual"
                         i18n="error message when passwords are not equal@@passwordErrorNotEqual">Passwörter
                stimmen nicht überein
              </mat-error>
              <mat-error *ngIf="f.password2.errors?.minlength"
                         i18n="error message when password is under minLength of 8@@passwordErrorMinlength">
                Passwort muss mindestens 8 Zeichen lang sein.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions class="row">
    <button
      (click)="registerInitialAdmin(registerAdminForm.value)"
      [disabled]="registerAdminForm.invalid"
      class="col-4"
      color="primary"
      mat-raised-button
      mat-ripple>
      Registrieren
    </button>
  </mat-card-actions>
</app-non-logged-in-card>
