.dashboard-charts {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.dashboard-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  margin: 10px 10px 20px 10px;
}
