.dashboard-charts-wrapper {
  margin: 0 10vw 0 10vw;
}

.dashboard-charts {
  display: flex;
  justify-content: center;
  gap: 150px;
  flex-wrap: wrap;
}

@media (max-width: 780px) {
  .dashboard-charts {
    display: flex;
    flex-wrap: wrap;
  }
}

.dashboard-chart-item {
  min-width: 400px;
}

::ng-deep {
  .apexcharts-title-text {
    font-weight: normal;
  }
}

.dashboard-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: x-large;
  margin: 10px 10px 20px 10px;
  font-family: Roboto, Helvetica Neue, sans-serif;
}
