<div *ngIf="spinnerIsHidden else loading">
  <mat-card-title i18n="@@setOauthClientDetails_InitStateForm_Title">Konfiguration der Authentifizierung</mat-card-title>
  <p i18n="@@setOauthClientDetails_InitStateForm_Explanation">
    Um die Lokale Nutzerdatenbank zu verwenden, müssen die OAuth Einstellungen konfiguriert werden.
    Wichtig ist dabei, dass die Client-ID und das Client-Secret einzigartig sind.
    Alle Formularfelder wurden bereits mit sinnvollen Daten befüllt und eine Änderung dieser Daten wird nur
    fortgeschrittenen Nutzern empfohlen.
  </p>
  <mat-checkbox class="small-padding" (change)="toggleForm()" i18n="@@onlyDoThisIfYouAreANerdWarning">
    Formular aktivieren. Nur für fortgeschrittene Nutzer empfohlen!
  </mat-checkbox>
  <div *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="handleSubmitClick()">
      <mat-form-field class="form-whole-line">
        <input [formControl]="form.controls.accessTokenValidity"
               matInput
               i18n-placeholder="@@accessTokenValidity"
               placeholder="Lebenszeit des Accesstokens (in Sekunden)"
               type="number">
      </mat-form-field>
      <mat-form-field class="form-whole-line">
        <input [formControl]="form.controls.clientId"
               matInput
               i18n-placeholder="@@clientId"
               placeholder="Client-Id"
               type="text">
      </mat-form-field>
      <mat-form-field class="form-whole-line">
        <input [formControl]="form.controls.clientSecret"
               matInput
               i18n-placeholder="@@clientSecret"
               placeholder="Client-Secret (Empfohlen wird eine Mindestlänge von 32 Zeichen)"
               type="text">
      </mat-form-field>
      <mat-form-field class="form-whole-line">
        <input [formControl]="form.controls.refreshTokenValidity"
               matInput
               i18n-placeholder="@@refreshTokenValidity"
               placeholder="Lebenszeit des Refreshtokens (in Sekunden)"
               type="number">
      </mat-form-field>
      <mat-form-field class="form-whole-line">
        <input [formControl]="form.controls.webServerRedirectUri"
               matInput
               i18n-placeholder="@@webServerRedirectUri"
               placeholder="Webserver-Redirect-URI"
               type="text">
      </mat-form-field>

      <button
        mat-raised-button
        class="flex-nowrap-center"
        color="primary"
        type="submit"
        [disabled]="form.invalid"
        i18n="@@next">Weiter
      </button>
    </form>
  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
  <p i18n="@@pleaseHangOnTheServerIsBeeingConfigured">Bitte warten Sie einen Moment, während der Server konfiguriert wird.</p>
</ng-template>

