<app-okr-toolbar>
  <button [routerLink]="['/companies']" matTooltip="{{'topic-drafts.home-button.tooltip' | translate}}" class="navbar-item" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span class="full-text" id="topic-drafts-page-topic">{{'topic-drafts.navbar.title' | translate}}</span>
  <span class="short-text">{{'topic-drafts.navbar.title-short' | translate}}</span>
  <span class="fill-space"></span>
</app-okr-toolbar>


<div class="content-wrapper">
  <div class="content">
    <app-topic-draft-list [topicDrafts]="rowData.data"></app-topic-draft-list>
    <button class="add-button" mat-stroked-button (click)="clickedAddTopicDraft()">
      <mat-icon>add_circle_outline</mat-icon>
      {{'topic-drafts.add-topic-draft-button.tooltip' | translate}}
    </button>
  </div>
</div>


