.content-wrapper {
  display: flex;
  justify-content: center;
}

.content {
  width: 80%;
}

.short-text {
  display: none;
}

.new-topic-draft {
  float:right;
}

@media (max-width: 768px) {
  .short-text { display: inline-block; }
  .full-text { display: none; }
  #topic-drafts-page-topic {
    font-size: medium;
  }
}
