.toolbar-margin {
  margin: 0 8px;
}

.toolbar-margin-icon {
  margin: 0 2px;
}

.cycle-hint-preparation {
  background-color: #91ff85;
  color: black;
}

.cycle-hint-closed {
  background-color: #ff6600;
  color: white;
}

.max-width-230 {
  max-width: 230px;
}
