.title-keyresult {
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.comments-title {
  margin: 8px 0px;
  font-size: larger;
}

.no-comment-placeholder {
  margin: 16px 24px;
}

.m-24 {
  margin: 24px;
}

.v-top {
  vertical-align: top;
}
