<app-dialog-component [title]="title" (okEmitter)="saveDepartment()" [formGroup]="childUnitForm" >
  <form [formGroup]="childUnitForm">
    <mat-form-field class="name">
      <input type="text" i18n-placeholder="@@component_departmentForm_name" matInput placeholder="Name *" cdkTextareaAutosize formControlName="name">
      <mat-error><app-form-error [control]="childUnitForm.get('name').invalid"></app-form-error></mat-error>

    </mat-form-field>
    <mat-form-field class="name">
      <input type="text" i18n-placeholder="@@component_departmentForm_description" matInput placeholder="Bezeichnung *" cdkTextareaAutosize formControlName="label">
      <mat-error><app-form-error [control]="childUnitForm.get('label').invalid"></app-form-error></mat-error>
    </mat-form-field>

    <mat-slide-toggle class="col-l-6 toggle-fix" formControlName="isActive"><span i18n="@@component_departmentForm_active">Aktiv</span></mat-slide-toggle>
  </form>
</app-dialog-component>
