<app-dialog-component [title]="title" (okEmitter)="clickedConvertToTeam()" [formGroup]="chooseStructure">
  <form [formGroup]="chooseStructure">
    <mat-form-field class="form-whole-line">
      <mat-select placeholder="{{ 'submitted-topic-draft-convert-to-team.form.select' | translate }}" formControlName="parentUnitId">
        <mat-optgroup *ngFor="let company of okrCompanySchema$ | async" [label]="company.name">
          <mat-option *ngFor="let objective of company.okrChildUnitIds" [value]="objective">{{objective}}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </form>
</app-dialog-component>
