<div *ngIf="userSettingsForm && adminSettingsForm">
  <h1 mat-dialog-title class="form-header"><span i18n="@@component_settingsForm_settings">Einstellungen</span></h1>

  <mat-dialog-content>

    <mat-tab-group dynamicHeight>
      <mat-tab i18n-label="@@settings" label="Einstellungen">
        <form [formGroup]="userSettingsForm" class="settingsForm">
          <mat-form-field class="form-whole-line">
            <mat-select (selectionChange)="onSelectCompany()" formControlName="defaultCompanyId"
                        i18n-placeholder="@@defaultCompany" placeholder="Standard Unternehmen">
              <mat-option [value]="null"><span i18n="@@component_settingsForm_NoCompany">Kein Unternehmen</span>
              </mat-option>
              <mat-option *ngFor="let company of (companies$ | async)" [value]="company.id">
                {{company.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-whole-line">
            <mat-select formControlName="defaultTeamId" i18n-placeholder="@@defaultTeam" placeholder="Standard Team">
              <mat-option [value]="null"><span i18n="@@component_settingsForm_NoTeam">Kein Team</span></mat-option>
              <mat-option *ngFor="let department of (departments$ | async)" [value]="department.id">
                {{department.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-tab>
      <mat-tab [disabled]="!(isCurrentUserAdmin$ | async)" i18n-label="@@adminSettings" label="Adminverwaltung">
        <form [formGroup]="adminSettingsForm" class="settingsForm">
          <ng-container formArrayName="settings">
            <mat-form-field class="fullWidth" *ngFor="let setting of settings.controls">

              <!-- Intellisense will not work on the controls field -->

              <input [formControl]="setting.controls.value"
                     matInput
                     [placeholder]="configurationNames[setting.controls.name.value]"
                     [disabled]="setting.controls.name.value === 'general_frontend-base-url' && (authType$ | async) === 'azure'"
                     [type]="setting.controls.type.value">
            </mat-form-field>
          </ng-container>
        </form>
      </mat-tab>
    </mat-tab-group>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button color="primary" (click)="sendOk()"
            [disabled]="userSettingsForm.invalid || (isCurrentUserAdmin$ && adminSettingsForm.invalid)"><span
      i18n="@@component_settingsForm_save">Speichern</span></button>
    <button mat-button color="warn" (click)="closeDialog()"><span
      i18n="@@component_settingsForm_cancel">Abbrechen</span></button>
  </mat-dialog-actions>
</div>
