<h1>{{ 'demo-warning.title' | translate }}</h1>
<mat-dialog-content>
  <p>{{ 'demo-warning.explanation' | translate }}</p>

  <div class="info-container">
    <div class="icon-container">
      <mat-icon class="icon-fix">emoji_symbols</mat-icon>
    </div>
    <div class="icon-description-container">
      <h4>{{ 'demo-warning.headline' | translate }}</h4>
      <p>{{ 'demo-warning.text' | translate }}</p>
    </div>
  </div>

  <div class="info-container">
    <div class="icon-container">
      <mat-icon class="icon-fix">favorite</mat-icon>
    </div>
    <div class="icon-description-container">
      <h4 i18n="@@component_demoWarning_goodVibesOnly_headline">#GoodVibesOnly</h4>
      <p i18n="@@component_demoWarning_goodVibesOnly_text">{{'demo-warning.good-vibes-only-text' | translate}}</p>
    </div>
  </div>

  <div class="info-container">
    <div class="icon-container">
      <mat-icon class="icon-fix">access_time</mat-icon>
    </div>
    <div class="icon-description-container">
      <h4 i18n="@@component_demoWarning_databaseDeletion_headline">{{'demo-warning.database-deletion-title' | translate}}</h4>
      <p i18n="@@component_demoWarning_databaseDeletion_text">{{'demo-warning.database-deletion-text' | translate}}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="redirectToPlayground()">{{ 'demo-warning.playground-button' | translate }}</button>
  <button mat-button color="primary" (click)="abort()">{{ 'demo-warning.abort-button' | translate }}</button>
</mat-dialog-actions>
