@import '../../../styles/themes/bag-theme.scss';


.footer-container {
  background-color: map-get($md-primary, 500);
  overflow-x:hidden;
  z-index: 10;
  color: $bag-theme-white;
  padding-right: 80px;
  padding-left: 5vw;

  position:fixed;
  bottom:0;
  width: 100vw;
}

.footer-right {
  text-align: right;
  a {
    padding: 8px;
  }
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
}

.margin-left-right {
  margin-right: 5px;
  margin-left: 5px;
}



a {
  text-decoration: none;
}

a, a:visited{
  color: $bag-theme-white;
}
