<div class="footer-container">
  <span>&copy; Copyright 2020 <a href="https://www.brockhaus-ag.de/" target="_blank" rel="noopener noreferrer">BROCKHAUS AG</a> - BurningOKR. All Rights Reserved</span>
  <span class="footer-right">
<!--    <a routerLink="" i18n="@@component_demoFooter_home">Home</a>-->
    <a routerLink="privacy-policy" i18n="@@component_demoFooter_privacyPolicy">Datenschutzerklärung</a>
    <a routerLink="imprint" i18n="@@component_demoFooter_imprint">Impressum</a></span>
</div>
