<div class="container footer-container">
  <div class="row">
    <div class="col-l-8 col-s-12">
      <span>
        &copy; Copyright 2020 <a href="https://www.brockhaus-ag.de/" target="_blank" rel="noopener noreferrer">BROCKHAUS AG</a> - BurningOKR. All Rights Reserved
      </span>

    </div>

    <div class="col-l-4 col-s-12">
  <!--    <a routerLink="" i18n="@@component_demoFooter_home">Home</a>-->

      <a class="margin-left-right" routerLink="privacy-policy" i18n="@@component_demoFooter_privacyPolicy">Datenschutzerklärung</a>

      <br class="hidden-s-up">

      <a class="margin-left-right" routerLink="imprint" i18n="@@component_demoFooter_imprint">Impressum</a>

    </div>
  </div>
</div>
