<div class="footer-container padding-top-bottom">
  <div class="col-m-7 col-s-12 no-padding">
    <div>
      &copy; Copyright 2020 <a href="https://www.brockhaus-ag.de/" target="_blank" rel="noopener noreferrer">BROCKHAUS AG</a> - BurningOKR. All Rights Reserved
    </div>
  </div>

  <div class="col-m-5 col-s-12 no-padding">
<!--    <a routerLink="" i18n="@@component_demoFooter_home">Home</a>-->
    <a class="margin-left-right" routerLink="/demo/credits" i18n="@@component_demoFooter_credits">Credits</a>
    <a class="margin-left-right" routerLink="/demo/privacy-policy" i18n="@@component_demoFooter_privacyPolicy">Datenschutzerklärung</a>
<!--      <br class="hidden-s-up">-->
    <a class="margin-left-right" routerLink="/demo/imprint" i18n="@@component_demoFooter_imprint">Impressum</a>
    </div>
</div>
