<mat-card class="submitted-topic-draft-card">
  <div class="card-head-wrapper">
    <div class="card-head-info-wrapper">
      <span class="card-head-info">{{topicDraft.initiator.givenName}} {{topicDraft.initiator.surname}}</span>
      <span class="card-head-info">2 days ago</span>
      <span class="card-head-info" title="{{topicDraft.name}}">{{topicDraft.name}}</span>
    </div>
    <div class="card-head-button-wrapper">
      <button mat-flat-button class="submitted-topic-draft-fold-button" mat-mini-fab><mat-icon>more_vert</mat-icon></button>
    </div>
    <span id="status-dot"class="status-dot status-dot-{{enumStatus[topicDraft.currentStatus]}}"></span>
  </div>
</mat-card>
