.card-wrapper {
  max-width: 1600px;
  margin: auto;
}
.card-wrapper-head-wrapper {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-wrapper-head {
  display: flex;
  width: 65%;
  justify-content: space-between;
}

.card-wrapper-head-column-info {
  width: 33%;
  font-weight: bold;
}
