<div class="card-wrapper" *ngIf="topicDrafts[0] !== undefined">
  <div class="card-wrapper-head-wrapper">
    <div class="card-wrapper-head">
      <span class="card-wrapper-head-column-info" i18n="Eingereicht von@@submitted-topic-draft-card-column-initiator">Eingereicht von</span>
      <span class="card-wrapper-head-column-info" i18n="Start@@submitted-topic-draft-card-column-startDate">Start</span>
      <span class="card-wrapper-head-column-info card-wrapper-head-column-info-name" i18n="Name@@submitted-topic-draft-card-column-name">Name</span>
    </div>
  </div>
  <div *ngFor="let topicDraft of topicDrafts">
    <app-submitted-topic-draft-card [topicDraft]="topicDraft"></app-submitted-topic-draft-card>
  </div>
</div>
<div *ngIf="topicDrafts[0] === undefined">
  <p>Keine neuen Themenentwürfe</p>
</div>
