mat-progress-bar {
  margin-top: 64px;
  min-height: 5px;
}

.item-actions button {
  margin: 10px 10px 0 0;
}

.item-actions button:hover {
  background-color: #595959;
  color: #FFFFFF;
}

.item-actions button:focus {
  background-color: #595959;
  color: #FFFFFF;
}

.circle-image {
  border-radius: 50%;
  height: 70%;
  width: auto;
  margin: 5px;
  float: right;
}

.app-container {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.margin-toolbar {
  margin-top: 15px;
  margin-left: 35px;
}

.add-company-button {
  margin-top: 10px;
  margin-left: 5%;
}
