@use '@angular/material' as mat;
@import 'src/styles/themes/bag-theme';

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
  color: black;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .objective-entry:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.placeholder-objective{
  margin: 16px 6px 8px 6px;
  background-color: mat.get-color-from-palette($md-primary, 500);
  color: mat.get-contrast-color-from-palette($md-primary, 500);
}

.centered-hint {
  text-align: center;
}

.add-objective-button-container {
  display: flex;
  margin-top: 8px;
  margin-left: 6px;
}
