<ng-container *ngIf="departmentView$ | async as info">
  <div class="flex-nowrap-center">
    <ng-container *ngIf="componentLoaded$ | async; else loading">
      <ng-container *ngIf="info.department as department">
        <ng-container *ngIf="info.cycle as cycle">
          <ng-container *ngIf="info.currentUserRole as currentUserRole">
            <mat-card class="small-padding card-margin card-size"
                      [ngClass]="{ 'inactive-element': !department.isActive }">

              <div class="flex-wrap inner-padding">
                <div class="icon-spacer-large">
                  <button mat-icon-button matTooltip="Zu der übergeordneten Struktur" (click)="moveToParentStructure()">
                    <mat-icon>arrow_upward</mat-icon>
                  </button>
                </div>

                <div class="flex-wrap-spreadinner f-1">
                  <div class="department-flex">
                    <div class="department-title">{{ department.name }}</div>
                    <div class="department-subtitle"> {{ department.label }}</div>
                  </div>
                  <div *ngIf="!department.isActive" class="flex-nowrap-center department-inactive-box">
                    <mat-icon>info</mat-icon>
                    <span i18n="@@component_department_structureNotActive">Diese Struktur ist nicht aktiv</span>
                  </div>
                </div>
                <div class="icon-spacer-large" *ngIf="currentUserRole.isAtleastAdmin() && !cycle.isCycleClosed()">
                  <button mat-icon-button [matMenuTriggerFor]="optionsMenu"
                          [matMenuTriggerData]="{ department: department }">
                    <mat-icon i18n-matTooltip="@@component_department_moreOptionsStructure"
                              matTooltip="Mehr Optionen zu dieser Struktur">more_vert
                    </mat-icon>
                  </button>
                </div>
              </div>

              <br/>
              <!-- Tabs -->
              <mat-tab-group animationDuration="350ms">
                <!-- Overview Tab-->
                <mat-tab i18n-label="@@component_department_overview" label="Übersicht">
                  <div class="inner-padding">
                    <app-substructure-overview-tab [department]="department" [currentUserRole]="currentUserRole"
                                                   [cycle]="cycle">
                    </app-substructure-overview-tab>
                  </div>
                </mat-tab>

                <!-- Members Tab-->
                <mat-tab i18n-label="@@component_department_teamMember" label="Teammitglieder">
                  <div class="inner-padding">
                    <app-department-tab-team [department]="department" [currentUserRole]="currentUserRole"
                                             [cycle]="cycle">
                    </app-department-tab-team>
                  </div>
                </mat-tab>

                <!-- Subdepartments Tab-->
                <mat-tab i18n-label="@@component_department_subStructure" label="Unterstrukturen">
                  <ng-template matTabContent>
                    <div class="inner-padding">
                      <app-substructures-tab [department]="department" [currentUserRole]="currentUserRole"
                                             [cycle]="cycle">
                      </app-substructures-tab>
                    </div>
                  </ng-template>
                </mat-tab>
              </mat-tab-group>
            </mat-card>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<!-- Options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="before">
  <ng-template matMenuContent let-department="department">
    <button mat-menu-item (click)="clickedEditDepartment()">
      <mat-icon>edit</mat-icon>
      <span i18n="@@component_department_editStructure">Struktur bearbeiten</span>
    </button>
    <button mat-menu-item (click)="toggleWhetherDepartmentIsActive()">
      <div *ngIf="department.isActive">
        <mat-icon>power_off</mat-icon>
        <span i18n="@@component_department_disableStructure">Struktur auf inaktiv setzen</span>
      </div>
      <div *ngIf="!department.isActive">
        <mat-icon>power</mat-icon>
        <span i18n="@@component_department_enableStructure">Struktur auf aktiv setzen</span>
      </div>
    </button>
    <button mat-menu-item (click)="downloadDepartmentExcelFile()">
      <mat-icon>save_alt</mat-icon>
      <span i18n="@@component_department_export">Exportieren</span>
    </button>
    <button mat-menu-item (click)="downloadDepartmentExcelEmailFile()">
      <mat-icon>save_alt</mat-icon>
      <span i18n="@@component_department_exportContacts">Kontakte exportieren</span>
    </button>
    <div *ngIf="canDepartmentBeRemoved(); else cannotDeleteStructure;">
      <button mat-menu-item (click)="clickedRemoveDepartment()" [disabled]="!canDepartmentBeRemoved()">
        <mat-icon>delete</mat-icon>
        <span i18n="@@component_department_deleteStructure">Struktur löschen</span>
      </button>
    </div>

    <ng-template #cannotDeleteStructure>
      <div i18n-matTooltip="@@component_department_cannotDeleteStructure"
           matTooltip="Kann wegen Unterstrukturen nicht gelöscht werden!">
        <button mat-menu-item (click)="clickedRemoveDepartment()" [disabled]="!canDepartmentBeRemoved()">
          <mat-icon>delete</mat-icon>
          <span i18n="@@component_department_deleteStructure">Struktur löschen</span>
        </button>
      </div>
    </ng-template>
  </ng-template>

</mat-menu>

<!-- Placeholder during loading of the department -->
<ng-template #loading2>
  <mat-card class="small-padding card-margin card-size">
    <div class="m-left">
      <div class="department-title" i18n="@@component_department_loadDepartment">Lade Department</div>
      <div class="department-subtitle" i18n="@@component_department_pleaseWait"> Bitte warten</div>
    </div>
    <mat-tab-group>
      <mat-tab i18n-label="@@component_department_overview" label="Übersicht">
        <div class="loading-content">
          <br/>
          <mat-spinner></mat-spinner>
          <br/>
        </div>
      </mat-tab>
      <mat-tab i18n-label="@@component_department_teamMember" label="Teammitglieder"></mat-tab>
      <mat-tab i18n-label="@@component_department_substructure" label="Unterstrukturen"></mat-tab>
    </mat-tab-group>
  </mat-card>
</ng-template>


<ng-template #loading>
  <mat-card class="small-padding card-margin card-size" [ngClass]="{ 'inactive-element': !department.isActive }">
    <div class="flex-wrap inner-padding">
      <div class="icon-spacer-large">
        <button mat-icon-button matTooltip="Zu der übergeordneten Struktur" (click)="moveToParentStructure()">
          <mat-icon>arrow_upward</mat-icon>
        </button>
      </div>

      <div class="flex-wrap-spreadinner f-1">
        <div class="department-flex">
          <div class="department-title" i18n="@@component_department_loadDepartment">Lade Department</div>
          <div class="department-subtitle" i18n="@@component_department_pleaseWait"> Bitte warten</div>
        </div>
      </div>
    </div>

    <br>

    <mat-tab-group>
      <mat-tab i18n-label="@@component_department_overview" label="Übersicht" class="inner-padding">
        <div class="loading-content">
          <br/>
          <mat-spinner></mat-spinner>
          <br/>
        </div>
      </mat-tab>
      <mat-tab i18n-label="@@component_department_teamMember" label="Teammitglieder" class="inner-padding"></mat-tab>
      <mat-tab i18n-label="@@component_department_substructure" label="Unterstrukturen" class="inner-padding"></mat-tab>
    </mat-tab-group>
  </mat-card>
</ng-template>
