.card-wrapper {
    max-width: 1600px;
    margin: auto;
    padding-bottom: 20px;
}

.card-wrapper-head-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.card-wrapper-head-column-submitted {
    margin-right: 14.5%;
}

.card-wrapper-head-column-start {
    margin-right: 19.5%
}

.card-wrapper-head-column-name {

}

.card-wrapper-head-column-info-name {
    width: 40%;
}

.card-wrapper-info-area {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .card-wrapper-head-wrapper {
        display: none;
    }

    .card-wrapper {
        margin-top: 0.9rem;
    }
}
