.card-wrapper {

}

.topic-draft-header {
  background-color: #b81f40;
  color: #FFFFFF;
  padding: 10px 0 10px 20px;
  margin-bottom: 10px;
}

.topic-draft-header-wrapper {
  display: flex;
  justify-content: flex-start;
  font-weight: 550;
}

.topic-draft-header-content {
  width: 25%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.topic-draft-header-status {
  width: 20%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.card-wrapper-info-area {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .topic-draft-header-wrapper {
    display: none;
  }

  .card-wrapper {
    margin-top: 0.9rem;
  }
}
