##########################################################
#														 #
# Configuration for the Docker Container of the backend. #
#														 #
##########################################################

# The spring profile to use. "prod" is recommended.
SPRING_PROFILES_ACTIVE=prod

# The URL of the Postgres Database.
#
# When using the default Postgres Docker Container, use the URL
# jdbc:postgresql://burning-okr-postgres:5432/<database>?useSSL=false
#
# When using a Postgres database on the host machine, you can use the URL
# jdbc:postgresql://host.docker.internal:5432/<database>?useSSL=false
#
# Otherwise use the following URL Scheme to point to a database at a custom location:
# jdbc:postgresql://<hostname>:<port>/<database>?useSSL=false
SPRING_DATASOURCE_URL=<db-connection-string>

# The username of the Postgres User of the OKR Tool. Should be the same as in the postgres.env.
SPRING_DATASOURCE_USERNAME=<db-username>

# The password of the Postgres User of the OKR Tool. Should be the same as in the postgres.env.
SPRING_DATASOURCE_PASSWORD=<db-password>

# SMTP Server Configuration
SPRING_MAIL_USERNAME=<smtp-username>
SPRING_MAIL_PASSWORD=<smtp-password>
SPRING_MAIL_HOST=<smtp-host>
SPRING_MAIL_PORT=<smtp-port>

# The Authentication Mode.
# Use "local" to use the local database for the user management.
# Use "aad" to use an Azure Active Directory with OAuth for the user management.
SYSTEM_CONFIGURATION_AUTH_MODE=<local|aad>

# The following settings are only for the authentication with the Azure Active Directory.
# You do not need to change anything in the following settings, when you are using the local Authentication Mode.
#
# Azure Ad Issuer
AZURE_AD_ISSUER=<azure-issuer>

# The Azure Ad ClientId
SECURITY_OAUTH2_CLIENT_CLIENTID=<azure-clientid>

# The Azure Ad Client secret
SECURITY_OAUTH2_CLIENT_CLIENTSECRET=<azure-client-secret>

# The Azure Ad Access Token URI
SECURITY_OAUTH2_CLIENT_ACCESSTOKENURI=<azure-access-token-uri>

# The Azure Ad User Authorization URI
SECURITY_OAUTH2_CLIENT_USERAUTHORIZATIONURI=<azure-user-authorization-uri>

# The Azure Ad User Info URI (e.g. https://graph.microsoft.com/v1.0/me/)
SECURITY_OAUTH2_RESOURCE_USERINFOURI=<azure-user-info-uri>

# The Azure Active Directory groups, that are authorized to use BurningOKR.
# You can add as many groups as you like.
# You must specify at least one group.
AZURE_AD_AZUREGROUPS[0]_NAME=<first-azure-group-name>
AZURE_AD_AZUREGROUPS[0]_ID=<first-azure-group-id>
#AZURE_AD_AZUREGROUPS[1]_NAME=<second-azure-group-name>
#AZURE_AD_AZUREGROUPS[1]_ID=<second-azure-group-id>
#...


