##########################################################
#														 #
# Configuration for the Docker Container of the backend. #
#														 #
##########################################################

# The spring profile to use. "prod" is recommended.
SPRING_PROFILES_ACTIVE=prod

# The URL of the Postgres Database.
#
# When using the default Postgres Docker Container, use the URL
# jdbc:postgresql://burning-okr-postgres:5432/<database>?useSSL=false
#
# When using a Postgres database on the host machine, you can use the URL
# jdbc:postgresql://host.docker.internal:5432/<database>?useSSL=false
#
# Otherwise use the following URL Scheme to point to a database at a custom location:
# jdbc:postgresql://<hostname>:<port>/<database>?useSSL=false
SPRING_DATASOURCE_URL=<db-connection-string>

# The username of the Postgres User of the OKR Tool. Should be the same as in the postgres.env.
SPRING_DATASOURCE_USERNAME=<db-username>

# The password of the Postgres User of the OKR Tool. Should be the same as in the postgres.env.
SPRING_DATASOURCE_PASSWORD=<db-password>

# The SQL Dialect used by the backend
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT = org.hibernate.dialect.PostgreSQLDialect

# SMTP Server Configuration
SPRING_MAIL_USERNAME=<smtp-username>
SPRING_MAIL_PASSWORD=<smtp-password>
SPRING_MAIL_HOST=<smtp-host>
SPRING_MAIL_PORT=<smtp-port>

# The Authentication Mode. Note: Only one can be active / commented in
# Auth with Keycloak
SYSTEM_CONFIGURATION_OIDC_ADMIN_GROUP_NAME=<admin-group-name>
SYSTEM_CONFIGURATION_CLIENT_ID=<client-id>
SYSTEM_CONFIGURATION_ISSUER_URI=http://<hostname>:<port>/realms/<realm-name>
SYSTEM_CONFIGURATION_SCOPES_0=openid
SYSTEM_CONFIGURATION_SCOPES_1=offline_access
SYSTEM_CONFIGURATION_SCOPES_2=profile
SYSTEM_CONFIGURATION_SCOPES_3=email
SYSTEM_CONFIGURATION_STRICT_DISCOVERY_DOCUMENT_VALIDATION=false
SYSTEM_CONFIGURATION_PROVIDER=keycloak

# Auth with Azure
# SYSTEM_CONFIGURATION_OIDC_ADMIN_GROUP_NAME=<admin-group-name>
# SYSTEM_CONFIGURATION_CLIENT_ID=<client-id>
# SYSTEM_CONFIGURATION_ISSUER_URI=https://login.microsoft.com/<tenant-id>/v2.0
# SYSTEM_CONFIGURATION_SCOPES_0=openid
# SYSTEM_CONFIGURATION_SCOPES_1=offline_access
# SYSTEM_CONFIGURATION_SCOPES_2=profile
# SYSTEM_CONFIGURATION_SCOPES_3=email
# SYSTEM_CONFIGURATION_SCOPES_4=<client-id>/.default
# SYSTEM_CONFIGURATION_STRICT_DISCOVERY_DOCUMENT_VALIDATION=false
# SYSTEM_CONFIGURATION_PROVIDER=azureAD