#############################################################
#														    #
# Configuration for the Postgres Database Docker Container. #
#														    #
#############################################################

# The preferred username for the Postgres User of the OKR Tool.
POSTGRES_USER=<username>

# A secure password for the Postgres User of the OKR Tool.
POSTGRES_PASSWORD=<password>

# The name of the database the OKR Tool should use.
POSTGRES_DB=<database>

