@import '../../../styles/themes/bag-theme';

.keyresult-slider{
      flex: 1.0 0.3 256px;
      padding: 4px;
      flex-direction: column;
      align-items: stretch;
      height: 56px;
      position: relative;
      top: -8px;
}

.keyresult-card{
  margin:0px;
  margin-top: 12px;
  padding: 12px;
  border: solid mat-color($md-primary, 500) 4px;
  border-top: 0px;
  border-bottom: 0px;
}

.keyresult-title{
  font-size: medium;
}

.keyresult-description{
  font-weight: 200;
}

.keyresult-title, .keyresult-description {
  max-width: 60%;
  word-break: break-all;
}

.keyresult-progress-text{
   text-align: center;
   white-space: nowrap;
   position:relative;
   bottom: 10px;
}

.customFlex-1 {
  flex: 1.0 0.0 256px;
}

.customFlex-2 {
  flex: 3.0 0.3 256px
}

@media only screen and (max-width: 510px) {
  .changePositonListNumber {
    position: relative;
    bottom: 38px !important;
  }

  .changePosition {
    right: 110px;
    bottom: 38px;
  }

  .keyresult-slider {
    right: 25px;
    margin-right: 5px;
  }
}
