spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  flyway:
    baseline-on-migrate: true
  mail:
    properties:
      mail:
        smtp:
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory
          auth: true
    test-connection: false
  messages:
    basename: messages
  pid:
    file: ./shutdown.pid

security:
  oauth2:
    client:
      clientAuthenticationScheme: form
      scope: openid
      grant-type: client_credentials
      auto-approve-scopes: '.*'
      token-name: access_token
    resource:
      preferTokenInfo: false

system:
  configuration:
    auth-mode: "local"
    api-endpoint: "/api"
