.company-card {
  margin-left: 5%;
  margin-bottom: 35px;
  width: 90%;
  max-width: 90%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.my-mat-title {
  text-align: left;
  color: #000000;
}

.my-mat-subtitle {
  text-align: left;
  color: #000000;
}

.my-mat-buttons {
  text-align: left;
}

.my-mat-button {
  background-color: #FFFFFF;
  margin-right: 5px;
  position: relative;
  z-index: 1;
}

.my-mat-button:hover {
  background-color: #595959;
  color: #FFFFFF;
}

.my-mat-button:focus {
  background-color: #595959;
  color: #FFFFFF;
}

.company-actions button {
  position: absolute;
  margin: 10px 10px 0 0;
}

.pointing {
  cursor: pointer;
}

.item-actions button {
  margin: 10px 10px 0 0;
}

.padlock-margin {
  margin-left: 45px;
}

.history-cycle-input {
  width: 220px;
  font-size: 16px;
}

.cycle-select {
  padding: 5px;
  height: 40px;
}

small {
  font-size: 11px !important;
}

.option {
  line-height: unset !important;
}

.loader {
  border: 12px solid #EABCC6;
  border-top: 12px solid #B81F40;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  float: right;
  margin-right: 60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 420px) {
  .my-mat-button {
    display: block;
    max-width: 95%;
  }
}

@media only screen and (max-width: 690px) {
  .history-cycle-input {
    display: block;
    max-width: 90%;
  }
}

@media only screen and (min-width: 690px) {
  .history-cycle-input {
    margin-top: -75px;
    margin-right: 25px;
    float: right;
  }
}
