.company-card {
  margin: 35px;
  width: 95%;
  height: 150px;
}

.my-mat-title {
  text-align: left;
  color: #000000;
}

.my-mat-subtitle {
  text-align: left;
  color: #000000;
}

.my-mat-buttons {
  text-align: left;
}

.my-mat-button {
  background-color: #FFFFFF;
  margin-right: 5px;
  position: relative;
  z-index: 1;
}

.my-mat-button:hover {
  background-color: #595959;
  color: #FFFFFF;
}

.my-mat-button:focus {
  background-color: #595959;
  color: #FFFFFF;
}

.company-actions button {
  position: absolute;
  margin: 10px 10px 0 0;
}

.pointing {
  cursor: pointer;
}


//.item-actions button {
//  margin: 10px 10px 0 0;
//}

.padlock-margin {
  margin-left: 45px;
}

.history-cycle-input {
  width: 220px;
  /*margin-top: 8px;*/
  margin-top: -0.84375em;
  margin-right: 25px;
  font-size: 16px;
  float: right;
}

.cycle-select {
  padding: 5px;
  height: 40px;
}

small {
  font-size: 11px !important;
}

.option {
  line-height: unset !important;
}

.loader {
  border: 12px solid #EABCC6;
  border-top: 12px solid #B81F40;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  float: right;
  margin-right: 60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
