<div class="d-flex center middle tab-limited-width">
    <div class="f-3 text-center">
        <div class="tab-headline">Aufgaben</div>
    </div>
    <div class="f-1 text-center add-button" *ngIf="this.cycle.isCycleActive()">
        <button mat-mini-fab color="accent" (click)="onTaskAddButtonClick()">
            <mat-icon i18n-matTooltip="@@component_departmentTabTasks_createNewTask"
                matTooltip="Neue Aufgabe erstellen">add_circle_outline
            </mat-icon>
        </button>
    </div>
</div>
<div class="taskboards-switch-buttons">
    <mat-button-toggle-group #viewgroup="matButtonToggleGroup">
        <mat-button-toggle [checked]="true" value="states" aria-label="Text align left">
            <mat-icon>view_column</mat-icon>
            columns
        </mat-button-toggle>
        <mat-button-toggle value="swimlanes" aria-label="Text align center">
            <mat-icon>view_stream</mat-icon>
            swimlanes
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
<div *ngIf="viewgroup.value === 'states'">
    <app-taskboard-state-column-view [data$]="viewDataEmitter$" [isInteractive]="cycle.isCycleActive()">
        
    </app-taskboard-state-column-view>
</div>
<div *ngIf="viewgroup.value === 'swimlanes'">
    <app-taskboard-swimlane-view [data$]="viewDataEmitter$" [isInteractive]="cycle.isCycleActive()">

    </app-taskboard-swimlane-view>
</div>