<p class="chart-title">{{'chart-options-card.title' | translate}} {{chart.title}}</p>
<p>{{'chart-options-card.chartType' | translate}} {{chartTypeRecord[chart.chartType] | translate}}</p>

<div *ngIf="allTeams$ | async; let teams">
  {{'chart-options-card.teams' | translate}}
  <p class="chart-team-list" *ngFor="let team of getTeamsOfChart(teams)">
    {{team.name}}</p>
  <p class="chart-team-list" *ngIf="!chart.teamIds.length">
    {{'chart-options-card.company-average' | translate}}
  </p>
</div>

<button mat-icon-button mat-mini-fab color="primary" (click)="clickedDelete.next(chart)">
  <mat-icon>delete</mat-icon>
</button>
