mat-form-field.keyresult {
  width: 100%;
}

mat-form-field.number-input {
  width: 50%;
  box-sizing: border-box;
}

mat-form-field.number-input:first-child {
  padding-right: 5px;
}

mat-form-field.number-input:last-child {
  padding-left: 5px;
}
