<div class="flex-nowrap-center">
  <div class="tab-limited-width">
    <!-- Tab title and add subdepartments buton-->
    <div class="flex-nowrap">
      <div class="f-3">
        <div class="tab-headline" i18n="@@component_departmentTabSubDepartments_childUnit">Unterstrukturen</div>
      </div>
      <div class="icon-spacer f-1">
        <app-add-child-unit-button [userRole]="currentUserRole"
                                   [cycleClosed]="cycle.isCycleClosed()"
                                   (clickedAddSubBranch)="clickedAddChildOkrBranch()"
                                   (clickedAddSubDepartment)="clickedAddChildDepartment()"
                                   (clickedAddTopicDraft)="clickedAddTopicDraft()">
        </app-add-child-unit-button>
      </div>
    </div>
    <!-- Subdepartments -->
    <div *ngIf="okrBranch.okrChildUnitIds.length == 0" class="tab-subtitle"
         i18n="@@component_departmentTabSubDepartments_noChildUnit">
      Es gibt noch keine Unterstrukturen für diese Struktur
    </div>
    <div class="flex-wrap-spreadinner">
      <div *ngFor="let currentdepartmentId of okrBranch.okrChildUnitIds">
        <app-okr-child-unit-preview-button [unitId]="currentdepartmentId"></app-okr-child-unit-preview-button>
      </div>
    </div>
  </div>
</div>
