<app-okr-toolbar>
  <button [routerLink]="['/companies']" class="navbar-item" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span>{{'create-dashboard.okr-toolbar.create-dashboard' | translate}}</span>
  <span class="fill-space"></span>
</app-okr-toolbar>

<app-additional-info-bar [text]="'dashboard-overview.wip-info-text' | translate"></app-additional-info-bar>

<app-dashboard-modification (updateDashboard)="updateDashboard($event)" [dashboard]="dashboard$ | async">

</app-dashboard-modification>
