<div class="flex-nowrap-center">
  <div class="tab-limited-width">
    <div class="text-center">
      <div class="tab-headline" i18n="@@component_departmentTabDescription_description">Beschreibung</div>
      <div *ngIf="description$ | async as description" >
        <div i18n="@@component_departmentTabDescription_topic">Thema: {{description.name}} </div>
        <div i18n="@@component_departmentTabDescription_acceptanceCriteria"> Akzeptanzkriterien: {{description.acceptanceCriteria}}</div>
        <div i18n="@@component_departmentTabDescription_contributesTo">Zählt ein auf: {{description.contributesTo}}</div>
        <div i18n="@@component_departmentTabDescription_delimitation">Abgrenzung: {{description.delimitation}}</div>
        <div i18n="@@component_departmentTabDescription_beginning">Beginn: {{description.beginning}}</div>
        <div i18n="@@component_departmentTabDescription_dependencies">Abhängig: {{description.dependencies}}</div>
        <div i18n="@@component_departmentTabDescription_resources">Benötigte Ressourcen: {{description.resources}}</div>
        <div i18n="@@component_departmentTabDescription_handoverPlan">Übergabeplan: {{description.handoverPlan}}</div>

        <!-- User -->
        <div class="flex-wrap-spreadinner">
          <div *ngIf="description.initiatorId != null">
            <div class="tab-subtitle" i18n="@@component_departmentTabDescription_initiator">Initiator:</div>
            <app-user-minibutton [userId]="description.initiatorId" [canBeRemoved]="false">
            </app-user-minibutton>
          </div>
        </div>

        <div class="flex-wrap-spreadinner">
          <div *ngIf="description.startTeam.length != 0">
            <div *ngFor="let currentuser of description.startTeam">
              <div class="tab-subtitle" i18n="@@component_departmentTabDescription_startteam">Startteam:</div>
              <app-user-minibutton [userId]="currentuser" [canBeRemoved]="false">
              </app-user-minibutton>
            </div>
          </div>
        </div>

        <div class="flex-wrap-spreadinner">
          <div *ngIf="description.stakeholders.length != 0">
            <div *ngFor="let currentuser of department.okrMemberIds">
              <div class="tab-subtitle" i18n="@@component_departmentTabDescription_stakeholder">Stakeholder:</div>
              <app-user-minibutton [userId]="currentuser" [canBeRemoved]="false">
              </app-user-minibutton>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
