mat-form-field.text-input, mat-form-field.number-input {
  width: 50%;
  box-sizing: border-box;
}

.inputs {
  display: flex;
  top: 40px;
}

.delete-button {
  top: 10px;
}

.toggleMilestone {
  width: 50%;
}

.add-button {
  margin-left: calc(42% - 20px);
  display: inline-flex;
}

.keyresult-milestone-form-wrapper {
  margin-top: 10px;
}
