<div *ngIf="company && cycle; else loading" class="flex-nowrap-center">
  <mat-card class="card-size card-margin">
    <div class="company-title">{{ company.name }}
      <div class="icon-spacer-large icon-spacer-company">
        <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
          <mat-icon i18n-matTooltip="@@component_company_moreOptions" matTooltip="Mehr Optionen zu dieser Struktur">more_vert</mat-icon>
        </button>
      </div>
    </div>

    <div class="company-subtitle"> {{ company.label }}</div>

    <mat-divider></mat-divider>

    <div *ngIf="currentlyManagerDepartmentIds.length > 0">
      <div class="tab-subtitle" i18n="@@component_commentViewDialog_yourTeamAsManager">Ihre Teams als Manager</div>
      <div class="flex-wrap-spreadinner">
        <div *ngFor="let managerDepartmentId of currentlyManagerDepartmentIds">
          <app-substructure-preview-button [departmentId]="managerDepartmentId"></app-substructure-preview-button>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="currentlyMemberDepartmentIds.length > 0">
      <div class="tab-subtitle" i18n="@@component_commentViewDialog_yourTeamAsMember">Ihre Teams als Mitglied</div>
      <div class="flex-wrap-spreadinner">
        <div *ngFor="let memberDepartmentId of currentlyMemberDepartmentIds">
          <app-substructure-preview-button [departmentId]="memberDepartmentId"></app-substructure-preview-button>
        </div>
      </div>
    </div>

    <div class="flex-nowrap-center">
      <div class="tab-limited-width">
        <!-- Tab title and add subdepartments buton-->
        <div class="flex-nowrap">
          <div class="f-3">
            <div class="tab-headline" i18n="@@component_commentViewDialog_subStructure">Unterstrukturen</div>
          </div>
          <div class="icon-spacer f-1" *ngIf="(currentUserRole$ | async)?.isAtleastAdmin() && !cycle.isCycleClosed()">
            <button mat-mini-fab color="accent" (click)="clickedAddSubDepartment()">
              <mat-icon i18n-matTooltip="@@component_commentViewDialog_defineNewSubstructure" matTooltip="Neue Unterstruktur definieren">add_circle_outline</mat-icon>
            </button>
          </div>
        </div>
        <!-- Subdepartments -->
        <div *ngIf="company.departmentIds.length === 0 && company.corporateObjectiveStructureIds.length === 0" class="tab-subtitle" i18n="@@component_commentViewDialog_noSubstructure">
          Es gibt noch keine Unterstrukturen für diese Struktur
        </div>
        <div class="flex-wrap-spreadinner">
          <div *ngFor="let currentdepartmentId of company.departmentIds">
            <app-substructure-preview-button [departmentId]="currentdepartmentId"></app-substructure-preview-button>
          </div>
        </div>
      </div>
    </div>

  </mat-card>
</div>


<!-- Options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="before">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="clickedDownloadExcelFileForCompany()">
      <mat-icon>save_alt</mat-icon>
      <span i18n="@@component_commentViewDialog_export">Exportieren</span>
    </button>
    <button mat-menu-item (click)="clickedDownloadExcelEmailFileForCompany()">
      <mat-icon>save_alt</mat-icon>
      <span i18n="@@component_commentViewDialog_exportContacts">Kontakte exportieren</span>
    </button>
  </ng-template>
</mat-menu>

<ng-template #loading>
  <h3 i18n="@@component_commentViewDialog_loadingCompany">Lade Firma...</h3>
</ng-template>
