<ng-container *ngIf="!loadingError else error">


  <ng-container *ngIf="companyView$ | async; let companyView; else loading">
    <div class="flex-nowrap-center">
      <mat-card class="card-size card-margin">
        <div class="company-title overflow-ellipsis">{{ companyView.company.name }}
          <button mat-icon-button [matMenuTriggerFor]="optionsMenu" class="more-button">
            <mat-icon i18n-matTooltip="@@component_company_moreOptions" matTooltip="Mehr Optionen zu dieser Struktur">
              more_vert
            </mat-icon>
          </button>
        </div>

        <div class="company-subtitle"> {{ companyView.company.label }}</div>

        <mat-divider></mat-divider>

        <ng-container *ngIf="roleDepartmentIds$ | async; let roleDepartmentIds">
          <div *ngIf="roleDepartmentIds.currentlyManagerDepartmentIds.length > 0">
            <div class="tab-subtitle" i18n="@@component_commentViewDialog_yourTeamAsManager">Ihre Teams als Manager
            </div>
            <div class="flex-wrap-spreadinner">
              <div *ngFor="let managerDepartmentId of roleDepartmentIds.currentlyManagerDepartmentIds">
                <app-okr-child-unit-preview-button [unitId]="managerDepartmentId"></app-okr-child-unit-preview-button>
              </div>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div *ngIf="roleDepartmentIds.currentlyMemberDepartmentIds.length > 0">
            <div class="tab-subtitle" i18n="@@component_commentViewDialog_yourTeamAsMember">Ihre Teams als Mitglied
            </div>
            <div class="flex-wrap-spreadinner">
              <div *ngFor="let memberDepartmentId of roleDepartmentIds.currentlyMemberDepartmentIds">
                <app-okr-child-unit-preview-button [unitId]="memberDepartmentId"></app-okr-child-unit-preview-button>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="flex-nowrap-center">
          <div class="tab-limited-width">
            <!-- Tab title and add subdepartments buton-->
            <div class="flex-nowrap">
              <div class="f-3">
                <div class="tab-headline" i18n="@@component_commentViewDialog_childUnit">Unterstrukturen</div>
              </div>
              <div class="icon-spacer f-1">
                <app-add-child-unit-button [userRole]="currentUserRole$ | async"
                                           [cycleClosed]="companyView.cycle.isCycleClosed()"
                                           (clickedAddSubBranch)="clickedAddSubBranch(companyView.company)"
                                           (clickedAddSubDepartment)="clickedAddSubDepartment(companyView.company)"
                                           (clickedAddTopicDraft)="clickedAddTopicDraft(companyView.company)"></app-add-child-unit-button>
              </div>
            </div>
            <!-- Subdepartments -->
            <div *ngIf="companyView.company.okrChildUnitIds.length === 0" class="tab-subtitle"
                 i18n="@@component_commentViewDialog_noChildUnit">
              Es gibt noch keine Unterstrukturen für diese Struktur
            </div>
            <div class="flex-wrap-spreadinner">
              <div *ngFor="let currentdepartmentId of companyView.company.okrChildUnitIds">
                <app-okr-child-unit-preview-button [unitId]="currentdepartmentId"></app-okr-child-unit-preview-button>
              </div>
            </div>
          </div>
        </div>

      </mat-card>
    </div>

    <!-- Options menu -->
    <mat-menu #optionsMenu="matMenu" xPosition="before">
      <ng-template matMenuContent>
        <button mat-menu-item (click)="clickedDownloadExcelFileForCompany(companyView.company)">
          <mat-icon>save_alt</mat-icon>
          <span i18n="@@component_commentViewDialog_export">Exportieren</span>
        </button>
        <button mat-menu-item (click)="clickedDownloadExcelEmailFileForCompany(companyView.company)">
          <mat-icon>save_alt</mat-icon>
          <span i18n="@@component_commentViewDialog_exportContacts">Kontakte exportieren</span>
        </button>
      </ng-template>
    </mat-menu>
  </ng-container>
</ng-container>

<ng-template #loading>
  <h3 i18n="@@component_commentViewDialog_loadingCompany" class="card-margin">Lade Firma...</h3>
</ng-template>

<ng-template #error>
  <div class="card-margin">
    <h3 i18n="@@component_commentViewDialog_errorLoadingCompany">Fehler</h3>
    <p i18n="@@component_commentViewDialog_errorLoadingCompanyText">
      Die Firma konnte nicht geladen werden. Sie könnte von einem anderen Nutzer gelöscht worden sein,
      oder der Server antwortet nicht.
    </p>
    <button mat-button mat-raised-button color="primary" routerLink="/companies"
            i18n="@@component_commentViewDialog_errorLoadingCompanyButton">Zur Strukturübersicht
    </button>
  </div>

</ng-template>
