<app-dialog-component [title]="title" (okEmitter)="saveDepartment()" [formGroup]="subStructureForm" >
  <form [formGroup]="subStructureForm">
    <mat-form-field class="name">
      <input type="text" i18n-placeholder="@@component_departmentForm_name" matInput placeholder="Name *" cdkTextareaAutosize formControlName="name">
      <mat-error *ngIf="subStructureForm.get('name').invalid">{{getErrorMessage(subStructureForm, 'name')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="name">
      <input type="text" i18n-placeholder="@@component_departmentForm_description" matInput placeholder="Bezeichnung *" cdkTextareaAutosize formControlName="label">
      <mat-error *ngIf="subStructureForm.get('label').invalid">{{getErrorMessage(subStructureForm, 'label')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="name" *ngIf="!subStructure">
      <mat-select formControlName="structureType">
        <mat-option i18n="@@component_departmentForm_option_department" [value]="structureType.DEPARTMENT">OKR Team</mat-option>
        <mat-option i18n="@@component_departmentForm_option_corporateObjectiveStructure" [value]="structureType.CORPORATE_OBJECTIVE_STRUCTURE">Struktur</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle class="col-l-6 toggle-fix" formControlName="isActive"><span i18n="@@component_departmentForm_teamActive">Team aktiv</span></mat-slide-toggle>
  </form>
</app-dialog-component>
