<app-dialog-component [title]="title" (okEmitter)="saveDepartment()" [formGroup]="departmentForm" >
  <form [formGroup]="departmentForm">
    <mat-form-field class="name">
      <input type="text" i18n-placeholder="@@component_departmentForm_name" matInput placeholder="Name *" cdkTextareaAutosize formControlName="name">
      <mat-error *ngIf="departmentForm.get('name').invalid">{{getErrorMessage(departmentForm, 'name')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="name">
      <input type="text" i18n-placeholder="@@component_departmentForm_description" matInput placeholder="Bezeichnung *" cdkTextareaAutosize formControlName="label">
      <mat-error *ngIf="departmentForm.get('label').invalid">{{getErrorMessage(departmentForm, 'label')}}</mat-error>
    </mat-form-field>

    <mat-slide-toggle class="col-l-6" formControlName="isActive"><span i18n="@@component_departmentForm_teamActive">Team aktiv</span></mat-slide-toggle>
  </form>
</app-dialog-component>
