<div class="container">
  <div class="main-image-container">
    <img src="../../../assets/logo.png" alt="burning-okr logo" class="main-image" />
  </div>

  <div class="main-button-container-flex main-button-container">

    <a class="main-button button-bag-layout-inverted" href="https://github.com/BurningOKR/BurningOKR" mat-stroked-button i18n="@@component_demoHome_github" target="_blank" rel="noopener noreferrer">GitHub</a>

    <span class="line-break hidden-s-up"></span>

    <button class="main-button button-bag-layout-inverted" mat-stroked-button [matMenuTriggerFor]="documentationMenu" i18n="@@component_demoHome_documentation">Dokumentation</button>

    <span class="line-break hidden-s-up"></span>

    <button class="main-button button-bag-layout-inverted" mat-stroked-button i18n="@@component_demoMainView_playground" (click)="openPlayground()">Playground</button>

  </div>

  <div class="main-content col-12">

    <div class="wow animate__fadeIn col-m-7 col-s-12" data-wow-duration="1s">
      <h1 class="headline">Welcome to Burning OKR!</h1>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Lw_-Y4B8ad0" title="YouTube video player" allowfullscreen></iframe>
      <p>
        Burning OKR unterstützt Sie bei der Erreichung strategischer Unternehmensziele und fördert eine agile und transparente Unternehmenskultur. Das OpenSource OKR Tool basiert dabei auf den langjährigen Erfahrungen der BROCKHAUS AG mit dem OKR Framework.
      </p>
    </div>

    <div class="wow animate__fadeIn content-image-container" data-wow-duration="1s">
      <img src="../../../assets/okr-stocks/OKR_zielscheibe.svg" class="col-m-5 col-s-12 content-image" alt=""/>
    </div>

  </div>

  <div class="main-content col-12">

    <div class="wow animate__fadeIn content-image-container" data-wow-duration="1s">
      <img src="../../../assets/okr-stocks/OKR_stonks.svg"  class="col-m-5 col-s-12 content-image" alt=""/>
    </div>

    <div class="wow animate__fadeIn col-m-7 col-s-12" data-wow-duration="1s">
      <h2 class="headline">Visionen mit Hilfe von OKR verwirklichen</h2>
      <p>
        Das agile OKR Framework unterstützt Sie durch einen strukturierten Zielvereinbarungsprozess bei der Erreichung der strategischen Unternehmensziele. Kurze Zyklen und messbare Ziele fördern die regelmäßige Evaluierung der Ergebnisse und bieten Ihnen die Möglichkeit, Ihr Geschäftsmodell anhand von neuen Informationen schnell zu modifizieren. Mit Burning OKR bieten wir Ihnen ein leistungsstarkes und nutzerfreundliches OpenSource Tool zur Unterstützung.
      </p>
    </div>

  </div>

  <div class="main-content col-12">

    <div class="wow animate__fadeIn col-m-7 col-s-12" data-wow-duration="1s">
      <h2 class="headline">Digitalisieren Sie Ihren gesamten OKR-Prozess</h2>
      <p>
        Mit Burning OKR bilden Sie alle essenziellen Bestandteile des OKR Frameworks digital ab und schaffen teamübergreifende Transparenz. Die Teams verwalten ihre eigenen Objectives und Key Results mit Burning OKR und machen ihre Fortschritte und Erfolge sichtbar. Darüber hinaus können innerhalb des Tools die Hierarchien Ihres Unternehmens sichtbar gemacht werden.
      </p>
    </div>

    <div class="wow animate__fadeIn content-image-container" data-wow-duration="1s">
      <img src="../../../assets/okr-stocks/OKR_digital.svg" class="col-m-5 col-s-12 content-image" alt=""/>
    </div>

  </div>


  <div class="main-content col-12">
    <div class="wow animate__fadeIn content-image-container" data-wow-duration="1s">
      <img src="../../../assets/okr-stocks/OKR_billboard.svg" class="col-m-5 col-s-12 content-image" alt=""/>
    </div>

    <div class="wow animate__fadeIn col-m-7 col-s-12" data-wow-duration="1s">
      <h2 class="headline">Verwalten und steuern Sie Ihre Unternehmensziele</h2>
      <p>
        Objectives und Key Results werden in Zyklen bearbeitet. Gestalten Sie Name, Länge und Inhalte der Zyklen nach Ihren Wünschen. Behalten Sie den Überblick über die Produktivität der OKR Teams durch die Fortschrittsanzeige der Objectives und Key Results.
      </p>
    </div>

  </div>


  <div class="main-content col-12">
    <div class="wow animate__fadeIn col-m-7 col-s-12" data-wow-duration="1s">
      <h2 class="headline">Innovative Features</h2>
      <p>
        Unser OKR Tool ermöglicht es Ihnen, mitsamt aller notwendigen Features, den OKR Prozess und dessen Ergebniskennzahlen ganzheitlich zu digitalisieren. Im Detail bietet Burning OKR…
      </p>
      <ul>
        <li>die Authentifizierung über Azure Active Directory oder einer lokale Nutzerverwaltung</li>
        <li>die Verwaltung von mehreren Firmen (Multitenancy)</li>
        <li>das Abbilden von Zyklen, Firmenstrukturen, Teams, Objectives und Key Results</li>
        <li>eine Fortschrittsanzeige für Objectives und Key Results</li>
        <li>eine flexible Individualisierung, u.a. die Bezeichnung von Teams, die Einschränkung der maximalen Key Result Anzahl etc.</li>
        <li>einen Datenexport als Excel-Tabelle</li>
      </ul>
    </div>

    <div class="wow animate__fadeIn content-image-container" data-wow-duration="1s">
      <img src="../../../assets/okr-stocks/OKR_features.svg" class="col-m-5 col-s-12 content-image" alt=""/>
    </div>
  </div>


  <div class="main-content col-12">


    <div class="wow animate__fadeIn content-image-container" data-wow-duration="1s">
      <img src="../../../assets/okr-stocks/OKR_okr.svg" class="col-m-5 col-s-12 content-image" alt=""/>
    </div>

    <div class="wow animate__fadeIn col-m-7 col-s-12" data-wow-duration="1s">
      <h2 class="headline">Einfache Installation</h2>
      <p>
        Burning OKR lässt sich einfach auf verschiedenen Plattformen installieren. Wir bieten Ihnen Tutorials zur Installation mit...
      </p>
      <ul>
        <li>Docker</li>
        <li>einem Tomcat Web Server (coming soon)</li>
      </ul>
    </div>
  </div>


  <div class="main-content col-12">
    <div class="wow animate__fadeIn col-m-7 col-s-12" data-wow-duration="1s">
      <h2 class="headline">Unser kostenloses Angebot für Sie</h2>
      <p>
        Die Anwendung ist für Firmen- und Privatkunden komplett kostenlos. Außerdem können Sie den Open Source Code jederzeit auf <a href="https://github.com/BurningOKR/BurningOKR" target="_blank" rel="noopener noreferrer">GitHub</a> einsehen und an Ihre Bedürfnisse anpassen. Gerne stehen wir Ihnen dabei unterstützend zur Seite. Machen Sie Ihre Anpassungen als Pull Request für die ganze Welt verfügbar!
      </p>
    </div>

    <div class="wow animate__fadeIn content-image-container" data-wow-duration="1s">
      <img src="../../../assets/okr-stocks/OKR_trompete.svg" class="col-m-5 col-s-12 content-image" alt=""/>
    </div>
  </div>


  <div class="main-content col-12">
    <div class="wow animate__fadeIn content-image-container" data-wow-duration="1s">
      <img src="../../../assets/okr-stocks/OKR_kontakt.svg"  class="col-m-5 col-s-12 content-image" alt=""/>
    </div>

    <div class="wow animate__fadeIn col-m-7 col-s-12" data-wow-duration="1s">
      <h2 class="headline">Wie Sie uns erreichen</h2>
      <p>
        Sie haben Fragen, Anregungen, oder Probleme mit dem Burning OKR Tool? Gerne können Sie uns kontaktieren.
      </p>
      <p>
        Bei Bugs oder Verbesserungsvorschlägen hinsichtlich des Tools kontaktieren Sie uns bitte über <a href="https://github.com/BurningOKR/BurningOKR/issues/new/choose" target="_blank" rel="noopener noreferrer">GitHub</a>. Wenn die BROCKHAUS AG für Sie eine Individualisierung vornehmen soll, Sie eine Beratung oder eine andere Dienstleistung benötigen, kontaktieren Sie uns bitte über <a href="mailto:info@brockhaus-ag.de">info@brockhaus-ag.de</a>.
      </p>
    </div>

  </div>


  <div class="main-content col-12">
    <div class="wow animate__fadeIn" data-wow-duration="1s">
      <h2 class="headline">Mehr über das OKR Framework und OKR-Prozesse erfahren</h2>
      <p>
        Weitere Informationen zum OKR Framework finden Sie auf der <a href="https://www.brockhaus-ag.de/themen/AGILEVERSITY#themenAgileversity_accordionImage_okr" target="_blank" rel="noopener noreferrer">AGILEVERSITY-Seite der BROCKHAUS AG</a>.
      </p>
    </div>
  </div>



  <div class="col-12 social-media-container footer-margin wow animate__fadeInUp" data-wow-duration="1s">
    <div class="social-media-link">
      <a href="https://github.com/BurningOKR/BurningOKR" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/GitHub-Mark-120px-plus.png" alt="BurningOKR GitHub" class="image-link" id="github-icon" />
      </a>
    </div>

    <div class="line-break hidden-s-up"></div>

    <div class="social-media-link">
      <a href="http://twitter.com/BurningOkr" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/Twitter_Logo_Blue.svg" alt="BurningOKR Twitter" class="image-link" id="twitter-icon" />
      </a>
    </div>

    <div class="line-break hidden-s-up"></div>

    <div class="social-media-link">
      <a href="mailto:burningokr@brockhaus-ag.de" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/mail_outline-24px.svg" alt="E-Mail" class="image-link" id="mail-icon" />
      </a>
    </div>

  </div>
</div>



<mat-menu #documentationMenu>
  <a href="https://burning-okr.gitbook.io/burningokr/" mat-menu-item target="_blank" rel="noopener noreferrer" i18n="@@component_demoHome_germanDocumentation">Deutsch</a>
  <a href="https://burning-okr.gitbook.io/burningokr/v/en/" mat-menu-item target="_blank" rel="noopener noreferrer" i18n="@@component_demoHome_englishDocumentation">Englisch</a>
</mat-menu>

