.main-image {
  width: 30%;
  height: auto;
}

.main-image-container {
  text-align: center;
}

.main-button-container {
  text-align: center;
  margin-top: 20px;

  button, a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
