<div class="container">
  <div class="main-image-container">
    <img src="../../../assets/logo.png" alt="burning-okr logo" class="main-image" />
  </div>
  <div class="main-button-container">
    <a href="https://github.com/BurningOKR/BurningOKR" mat-raised-button color="accent" i18n="@@component_demoHome_github" target="_blank" rel="noopener noreferrer">Github</a>
    <button mat-raised-button color="accent" [matMenuTriggerFor]="documentationMenu" i18n="@@component_demoHome_documentation">Dokumentation</button>
    <button mat-raised-button color="accent" i18n="@@component_demoMainView_playground" (click)="openPlayground()">Playground</button>
  </div>
  <h1>Welcome to Burning OKR!</h1>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>


  <div class="features wow animate__fadeIn" data-wow-duration="2s">

    <h2>Motivation</h2>
    <p>OKR should be free for everyone!</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>


  <div class="features wow animate__fadeIn" data-wow-duration="2s">
    <h2>Animation!!!</h2>
    <p>Our features are super awesome!</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>

  <div class="features wow animate__slideInLeft" data-wow-duration="2s">
    <h2>FadeInLeft!!!</h2>
    <p>Our features are super awesome!</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>

  <div class="social-media-container">
    <a href="https://github.com/BurningOKR/BurningOKR" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/GitHub-Mark-120px-plus.png" alt="BurningOKR Github" class="image-link" id="github-icon" />
    </a>
    <a href="http://twitter.com/BurningOkr" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/Twitter_Logo_Blue.svg" alt="BurningOKR Twitter" class="image-link" id="twitter-icon" />
    </a>
    <a href="mailto:vl_burningokr@brockhaus-ag.de" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/mail_outline-24px.svg" alt="E-Mail" class="image-link" id="mail-icon" />
    </a>
  </div>
</div>



<mat-menu #documentationMenu>
  <a href="https://burning-okr.gitbook.io/burningokr/" mat-menu-item target="_blank" rel="noopener noreferrer" i18n="@@component_demoHome_germanDocumentation">Deutsch</a>
  <a href="https://burning-okr.gitbook.io/burningokr/v/en/" mat-menu-item target="_blank" rel="noopener noreferrer" i18n="@@component_demoHome_englishDocumentation">Englisch</a>
</mat-menu>

