<div class="container">
  <h1>IMPRESSUM</h1>

  <h4>Impressum gemäß § 5 TMG:</h4>

  <div class="content-container">
    <h4>BROCKHAUS AG</h4>
    Pierbusch 17<br>
    44536 Lünen<br>
    Deutschland<br>
  </div>

  <div class="content-container">
    <h4>STANDORT DORTMUND</h4>
    Emil-Figge-Straße 85<br>
    44227 Dortmund<br>
    Deutschland<br>
  </div>

  <div class="content-container">
    <h4>STANDORT HAMBURG</h4>
    Willy-Brandt-Straße 23-25<br>
    20457 Hamburg<br>
    Deutschland<br>
  </div>


  <div class="content-container">
    <b>Telefon:</b> +49 (0) 231 98 75-0<br>
    <b>Fax:</b> +49 (0) 231 98 75-540<br>
    <b>E-Mail:</b> info@brockhaus-ag.de<br>
    <b>Website:</b> www.brockhaus-ag.de<br>

    <br>

    <b>Vertretungsberechtigter Vorstand:</b> Matthias Besenfelder<br>
    Aufsichtsratsvorsitzender: Dr. Adam Spalek<br>

    <br>

    <b>Registergericht:</b> Amtsgericht Dortmund<br>
    <b>Registernummer:</b> HRB 27027<br>
    <b>Umsatzsteuer-Identifikationsnummer:</b> DE 299350276<br>

    <br>

    <b>Verantwortlich für den Inhalt nach § 55 RStV:</b> Matthias Besenfelder<br>

    <br>

    <b>Haftungshinweis:</b> Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.<br>
  </div>

</div>
