<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar [color]="'primary'" class="app-toolbar">

    <button class="navbar-item" i18n-matTooltip="@@component_home_toggleNavigation" matTooltip="Navigation ein-/ausklappen" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button class="navbar-item" i18n-matTooltip="@@component_home_navigateToStructureOverview" matTooltip="Zur Strukturübersicht" mat-icon-button (click)="navigateToCompanies()">
      <mat-icon>home</mat-icon>
    </button>

    <mat-form-field class="number-input history-cycle-input navbar-item-dropdown"
      *ngIf="cycleId && cyclesWithHistoryCompanies">
      <mat-select [(value)]="cycleId" (selectionChange)="onSelectCycle($event)">
        <mat-select-trigger>
          {{ cycleWithHistoryCompany.cycle.abbreviation }} <br />
          <small>[{{ cycleWithHistoryCompany.cycle.startDate | date: 'dd.MM.yyyy' }} -
            {{ cycleWithHistoryCompany.cycle.endDate | date: 'dd.MM.yyyy' }}]</small>
          <mat-icon class="padlock-margin" *ngIf="cycleWithHistoryCompany.cycle.cycleState == 'CLOSED'">lock</mat-icon>
          <mat-icon class="padlock-margin" *ngIf="cycleWithHistoryCompany.cycle.cycleState == 'PREPARATION'">watch_later
          </mat-icon>
        </mat-select-trigger>
        <mat-option class="option" *ngFor="let cycleWithHistoryCompany of cyclesWithHistoryCompanies"
          [value]="cycleWithHistoryCompany.cycle.id">
          {{ cycleWithHistoryCompany.cycle.abbreviation }} <br />
          <small>[{{ cycleWithHistoryCompany.cycle.startDate | date: 'dd.MM.yyyy' }} -
            {{ cycleWithHistoryCompany.cycle.endDate | date: 'dd.MM.yyyy' }}]</small>
          <mat-icon class="padlock-margin" *ngIf="cycleWithHistoryCompany.cycle.cycleState == 'CLOSED'">lock</mat-icon>
          <mat-icon class="padlock-margin" *ngIf="cycleWithHistoryCompany.cycle.cycleState == 'PREPARATION'">watch_later
          </mat-icon>
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-toolbar>

  <!--  <mat-progress-bar [mode]="loading  ? 'indeterminate' : 'determinate'"></mat-progress-bar>-->

  <mat-sidenav-container class="sidenav" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" autosize>
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" class="mat-elevation-z6"
      [opened]="!mobileQuery.matches && finishedLoadingMenu">
    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{
        'background-color': isClosedCycleState
          ? '#cbcbcb'
          : showForeCast
          ? '#F1E8D7'
          : isPreparationCycleState
          ? '#dcf3ed'
          : 'transparent'
      }">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
