small {
  font-size: 11px !important;
}


.background-white{
  background-color: white;
}

.circle-image {
  border-radius: 50%;
  height: 70%;
  width: auto;
  margin: 5px;
  float: right;
}

.fill-space {
  flex: 1 1 auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.history-cycle-input {
  width: 250px;
  margin-top: 8px;
}

.history-cycle-info {
  margin-top: 8px;
  margin-left: 8px;
}

.option {
  line-height: unset !important;
}

.navbar-item {
  margin-right: 15px;
}

.navbar-item-dropdown {
  margin-right: 29px;
  margin-left: 14px;
}

.padlock-margin {
  margin-left: 45px;
}

.sidebar-item {
  padding: 0;
}

.sidenav {
  height: 100%;
}

.sidenav-wrapper {
  margin-top: 75px;
}

.sidenav-content {
  padding: 20px;
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.tree-invisible {
  display: none
}

.top-toolbar {
  position: fixed;
  z-index: 2
}
