.taskboard-swimlane .mat-expansion-panel-body {
    padding: 0px !important;

}

.swimlane-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px dotted red;
    flex-grow: 1;
    flex-shrink: 1;
}
.swimlane-task-container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 100%;
}

.swimlane-item {
    width: 100%;
    margin: 2px;
    border: 1px solid green;
}