.information-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.information-row-item {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.first-item {
  width: 30px;
}

.display-status-dot {
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-right: 10px;
}

.multiline-text {
  width: 100%;
  resize: vertical;
  border-radius: 0px;
  margin-top: 15px;
}

.multiline-text-wrapper textarea {
  font-size: 1.1rem;
}

.multiline-text-wrapper {
  width: 100%;
}

.topic-details-subheading {
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tooltip-edit-button.mat-tooltip.tooltip {
  background-color: #2dc937;
  font-size: 2rem;
}

@media (max-width: 400px) {
  .display-status-dot {
    margin-bottom: 15px;
  }
}

.topic-name {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  white-space:nowrap;
}

.user-list-panel {
  margin-bottom: 15px;
  margin-top: 15px;
}

.example-button {
  margin-top: 16px;
}

.example-tooltip-red {
  background: #b71c1c;
}
