<div class="submitted-topic-draft-details">

  <!-- TODO Translation-->
  <div class="information-row"><h1 i18n="@@handed_in_topic_draft">Eingereichter Themenentwurf</h1></div>

  <div class="information-row">
    <div class="information-row-item">
      <span class="first-item" i18n="@@component_departmentTabDescription_topic">Thema:</span>
      <span class="topic-name">{{ topicDraft.name }}</span>
    </div>
    <div class="information-row-item status-display">
      <span id="status-dot" class="status-dot status-dot-{{ enumStatus[topicDraft.currentStatus] }}" i18n-title title="Aktueller Status"></span>
      <span *ngIf="topicDraft.currentStatus == 0" i18n="@@status_draft">Vorlage</span>
      <span *ngIf="topicDraft.currentStatus == 1" i18n="@@status_submitted">Eingereicht</span>
      <span *ngIf="topicDraft.currentStatus == 2" i18n="@@status_approved">Angenommen</span>
      <span *ngIf="topicDraft.currentStatus == 3" i18n="@@status_rejected">Abgelehnt</span>
    </div>
  </div>

  <div class="information-row">
    <div class="information-row-item">
      <mat-icon class="mat-icon first-item">schedule</mat-icon>
      <span>{{ topicDraft.beginning.toLocaleDateString() }}</span>
    </div>
  </div>

  <div class="information-row">
    <div class="information-row-item">
      <mat-icon class="mat-icon first-item">person</mat-icon>
      <div>{{topicDraft.initiator.givenName}} {{topicDraft.initiator.surname}}</div>
    </div>
  </div>

  <span class="information-row topic-details-subheading" i18n="component_departmentTabDescription_contributesTo">Zählt ein auf:</span>
  <div class="multiline-text-wrapper">
    <textarea class="multiline-text" disabled rows="7">{{ topicDraft.contributesTo }}</textarea>
  </div>

  <span class="information-row topic-details-subheading" i18n="component_departmentTabDescription_handoverPlan">Handover Plan:</span>
  <div class="multiline-text-wrapper">
    <textarea class="multiline-text" disabled rows="7">{{ topicDraft.handoverPlan }}</textarea>
  </div>

</div>
