<div class="submitted-topic-draft-details">
  <h1>Eingereichter Themenentwurf</h1>
  <div class="information-row">
    <div class="information-row-item">
      Thema:
    </div>
    <div class="information-row-item">
      "Eingereichtes Thema"
    </div>
    <div class="information-row-item">
      <span id="status-dot" class="status-dot status-dot-submitted" i18n-title title="Aktueller Status"></span>
      <div>
        Pending
      </div>
    </div>
  </div>

  <div>
    <mat-icon class="mat-icon">schedule</mat-icon>
    <div>
      09.09.2021
    </div>
  </div>

  <div>
    <mat-icon class="mat-icon">person</mat-icon>
    <div>
      Max Mustermann
    </div>
  </div>

</div>
