<app-dialog-component [title]="title" [formGroup]="companyForm"
                      (okEmitter)="saveCompany()">
  <ng-container>
    <form [formGroup]="companyForm">
      <mat-form-field class="name">
        <input type="text" i18n-placeholder="@@name-*" matInput placeholder="Name *" formControlName="name">
        <mat-error><app-form-error [control]="companyForm.get('name')"></app-form-error></mat-error>


      </mat-form-field> <mat-form-field class="name">
      <input type="text"  matInput i18n-placeholder="@@component_departmentForm_description" placeholder="Bezeichnung *" formControlName="label">
      <app-form-error [control]="companyForm.get('label')"></app-form-error>

    </mat-form-field>
    </form>
  </ng-container>
</app-dialog-component>
