<app-dialog-component [title]="title" [formGroup]="companyForm" (okEmitter)="saveCompany()">
  <ng-container>
    <form [formGroup]="companyForm">
      <mat-form-field class="name">
        <input type="text" matInput placeholder="{{'okr-unit-form.placeholder.name' | translate}}" formControlName="name">
        <mat-error><app-form-error [control]="companyForm.get('name')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="name">
        <input type="text" matInput placeholder="{{'okr-unit-form.placeholder.label' | translate}}" formControlName="label">
        <mat-error><app-form-error [control]="companyForm.get('label')"></app-form-error></mat-error>
      </mat-form-field>
    </form>
  </ng-container>
</app-dialog-component>
