<ng-template [ngIf]="isPlayground" [ngIfElse]="demoOff">
  <div class="scroll-to-top show-scrollTop">
    <button mat-fab class="color-white" matTooltip="{{'feedback-button.button-icon.tooltip' | translate}}" (click)="navigateToGitHub()">
      <mat-icon>
        report_problem
      </mat-icon>
    </button>
  </div>
</ng-template>
<ng-template #demoOff>
  <div class="fab-container">
    <button mat-fab matTooltip="{{'feedback-button.button-icon.tooltip' | translate}}" (click)="openFeedbackPopup()" [disabled]="(hasMail$ | async) === false">
      <mat-icon>
        contact_mail
      </mat-icon>
    </button>
  </div>
</ng-template>

