<div class="app-container">
  <app-okr-toolbar>
    <span i18n="@@component_structureDashboard_structureOverview">Strukturübersicht</span>
  </app-okr-toolbar>

  <!-- General Buttons -->
  <div class="margin-toolbar item-actions">
    <button mat-stroked-button (click)="addCompany()" i18n-matTooltip="@@component_structureDashboard_defineNewStructure"  matTooltip="Neue Struktur hinzufügen" [disabled]="!(isCurrentUserAdmin$ | async)">
      <mat-icon>add_circle_outline</mat-icon>
      <span i18n="@@component_structureDashboard_addStructure">Struktur hinzufügen</span>
    </button>
  </div>

  <!-- A card for each company -->
  <div *ngIf="companies$ | async as companies; else loading">
    <div *ngFor="let company of companies">
      <app-structure-card [company]="company" (companyDeleted)="updateCompanies()" (newCycleStarted)="updateCompanies()">
      </app-structure-card>
    </div>
  </div>
  <ng-template #loading>
    <app-loading-spinner class="center center"></app-loading-spinner>
  </ng-template>
</div>
