<app-okr-toolbar>
  <span i18n="@@component_noMailInformation_Header">Kein SMTP konfiguriert</span>
</app-okr-toolbar>
<br>
<div class="container">
  <h1 i18n="@@component_noMailInformation_Title">Es wurde keine SMTP Konfiguration gefunden.</h1>
  <p i18n="@@component_noMailInformation_Info">Dies kann die Benutzbarkeit der Anwendung stark einschränken.</p>
  <p i18n="@@component_noMailInformation_AAD">Wird ein Azure Active Directory zur Nutzerverwaltung verwendet, sind folgende Funktionen nicht verfügbar:</p>
  <ul>
    <li i18n="@@component_noMailInformation_AAD_Feedback">Senden von Feedback</li>
  </ul>
  <p i18n="@@component_noMailInformation_local">Wird die lokale Nutzerdatenbank von BurningOKR zur Nutzerverwaltung verwendet, sind folgende Funktionen nicht verfügbar:</p>
  <ul>
    <li i18n="@@component_noMailInformation_local_Feedback">Senden von Feedback</li>
    <li i18n="@@component_noMailInformation_local_CreateUserMails">Senden von Mails für die Anlegung von Nutzern</li>
    <li i18n="@@component_noMailInformation_local_PasswordResetMails">Senden von Mails um Passwörter zurückzusetzen</li>
  </ul>

  <button mat-raised-button color="primary" routerLink="/" i18n="@@component_noMailInformation_backToHome">Zurück zur Startseite</button>


</div>
