SPRING_PROFILES_ACTIVE=prod

SPRING_DATASOURCE_URL=<db-connection-string>
SPRING_DATASOURCE_USERNAME=<db-username>
SPRING_DATASOURCE_PASSWORD=<db-password>

SPRING_MAIL_USERNAME=<smtp-username>
SPRING_MAIL_PASSWORD=<smtp-password>
SPRING_MAIL_HOST=<smtp-host>
SPRING_MAIL_PORT=<smtp-port>

SYSTEM_CONFIGURATION_AUTH_MODE=<local|aad>
