.chart-creation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

@media (max-width: 780px) {
  .chart-creation {
    grid-template-columns: repeat(1, 1fr);
  }
}

.chart-creation-options {
  display: flex;
  flex-direction: column;
  height: 30VH;
  width: 300px;
}

.chart-creation-add-button {
  margin: auto;
}

.chart-title {
  font-weight: bolder;
  font-size: large;
}

.button-create-dashboard {
  text-align: center;
}

.chart-team-list {
  display: list-item;
  margin: auto auto auto 30px;
}

.dashboard-creation-title {
  text-align-last: center;

  mat-form-field {
    width: 50VW;
  }
}
