.chart-creation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

@media (max-width: 780px) {
  .chart-creation {
    grid-template-columns: repeat(1, 1fr);
  }
}

.chart-creation-options {

}

.chart-creation-add-button {
  margin-top: 10VH;
}
