<app-okr-toolbar>
  <button [routerLink]="['/companies']" class="navbar-item" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span>Dashboard anlegen</span> <!-- TODO P.B. 28-03-2022 TRANSLATE!-->
  <span class="fill-space"></span>
</app-okr-toolbar>

<div class="chart-creation">
  <div class="chart-creation-options" *ngFor="let chart of charts">
    <p class="chart-title">Titel: {{chart.title}}</p>
    <p>Art: {{chart.chartType}}</p>
    <div> Teams:
      <p class="chart-team-list" *ngFor="let team of chart.teams"> {{team.name}}</p>
      <p class="chart-team-list" *ngIf="!chart.teams">Gesamte Firma</p>
    </div>

    <button mat-icon-button mat-mini-fab color="primary" (click)="deleteChart(chart)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="chart-creation-options">
    <p>Neues Diagramm zum Dashboard hinzufügen</p>
    <mat-form-field>
      <input class="chart-creation-single-option" matInput placeholder="Titel" [(ngModel)]="newChart.title">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Art der Information" class="chart-creation-single-option" [(value)]="newChart.chartType">
        <mat-option *ngFor="let chartType of chartTypes"
                    value="{{chartType}}">{{chartType}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="newChartIsLineChart()">
      <mat-select multiple placeholder="Team auswählen" class="chart-creation-single-option" [(value)]="newChart.teams">
        <mat-option *ngFor="let team of teams$ | async" [value]="team">{{team.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button [disabled]="!newChartValid()" class="chart-creation-add-button" mat-icon-button mat-mini-fab color="accent"
            (click)="addDashboard()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<div class="button-create-dashboard">
  <button [disabled]="charts.length < 1" mat-stroked-button (click)="createDashboard()">
    <mat-icon>add_circle_outline</mat-icon>
    Dashboard anlegen
  </button>
</div>
