<app-non-logged-in-card i18n-toolbarTitle="title of change password page page@@setNewPasswordTitle"
                        toolbarTitle="Burning OKR - Passwort ändern">
  <mat-card-header>
    <mat-card-title i18n="set new password@@setNewPasswordInstruction">Legen Sie ein neues Passwort fest</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="newPasswordForm" class="newPasswordForm">
      <mat-form-field class="form-whole-line">
        <input
          formControlName="newPassword"
          i18n-placeholder="@@newPassword"
          matInput
          placeholder="Neues Passwort"
          required
          type="password">
      </mat-form-field>

      <mat-form-field class="form-whole-line">
        <input
          formControlName="newPasswordRepetition"
          i18n-placeholder="@@newPasswordRepetition"
          matInput
          placeholder="Neues Passwort wiederholen"
          required
          type="password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="row">
    <button mat-button color="primary"
      (click)="setPassword()"
      [disabled]="newPasswordForm.invalid || this.submitted"
      i18n="@@resetPassword"
      mat-raised-button
      mat-ripple>
      Passwort festlegen
    </button>
    <mat-error class="error-span"
               *ngIf="newPasswordForm.get('newPassword').valid
                 && newPasswordForm.invalid"
               i18n="password do not match@@passwordsDoNotMatch">
      Die Eingaben stimmen nicht überein.
    </mat-error>
    <mat-error class="error-span"
               *ngIf="newPasswordForm.get('newPassword').invalid"
               i18n="new password not valid@@newPasswordInvalid">
      Das Passwort muss mindestens 7 Zeichen enthalten
    </mat-error>
  </mat-card-actions>
</app-non-logged-in-card>
