.scroll-to-top {
  position: fixed;
  bottom: 85px;
  right: 20px;
  opacity: 0;
  transition: all .2s ease-in-out;
}
.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.svg-icon {
  transform: rotate(270deg);
}
