<mat-card-title>{{ 'create-user-init-state-form.create-your-admin-account' | translate }}</mat-card-title>
<p>{{ 'create-user-init-state-form.subtitle' | translate }}</p>
<div *ngIf="adminUserForm && newPasswordForm">
  <form (ngSubmit)="handleSubmitClick()" [formGroup]="form">
    <app-user-form [userForm]="adminUserForm"></app-user-form>
    <app-password-form [newPasswordForm]="newPasswordForm" [previousPasswordNecessary]="false"></app-password-form>
    <button [disabled]="form.invalid" class="submit_button" color="primary" mat-raised-button
            type="submit">{{ 'create-user-init-state-form.next' | translate }}</button>
  </form>
</div>

