<mat-card-title>{{ 'create-user-init-state-form.create-your-admin-account' | translate }}</mat-card-title>
<p>{{ 'create-user-init-state-form.subtitle' | translate }}</p>
<div *ngIf="adminUserForm && newPasswordForm">
  <form [formGroup]="form" (ngSubmit)="handleSubmitClick()">
    <app-user-form [userForm]="adminUserForm"></app-user-form>
    <app-password-form [newPasswordForm]="newPasswordForm" [previousPasswordNecessary]="false"></app-password-form>
    <button mat-raised-button color="primary" type="submit" class="submit_button" [disabled]="form.invalid">{{ 'create-user-init-state-form.next' | translate }}</button>
  </form>
</div>

