li:hover > ul, .fadering {
  display: block;
  opacity: 0;
  z-index: 98;
  position: absolute;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -moz-animation: fadein 2s; /* Firefox */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera */
  animation: fadein 2s;
}
.fadering{
  position: unset;
  display: unset;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Opera */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
