<ng-container>
    <button mat-icon-button [matMenuTriggerFor]="actionDropdown">
        <mat-icon>more_vert</mat-icon>
    </button>
<!-- TODO : Router link angeben - mWegmann 10.05.2021 -->
    <mat-menu #actionDropdown="matMenu">
      <button mat-menu-item (click)="printNotImplemented()">
        <mat-icon>edit</mat-icon>
        <span>Bearbeiten</span>
      </button>
      <button mat-menu-item (click)="clickedDeleteTopicDraft()">
        <mat-icon>delete</mat-icon>
        <span>Löschen</span>
      </button>
      <button mat-menu-item (click)="printNotImplemented()">
        <mat-icon>chat</mat-icon>
        <span>Kommentare</span>
      </button>
      <button mat-menu-item (click)="printNotImplemented()">
        <mat-icon>exposure</mat-icon>
        <span>Einreichen/Zurücknehmen</span>
      </button>
      <button mat-menu-item (click)="printNotImplemented()">
        <mat-icon>check_circle</mat-icon>
        <span>Genehmigen/Genehmigung verwerfen</span>
      </button>
      <button mat-menu-item (click)="printNotImplemented()">
        <mat-icon >cancel</mat-icon>
        <span>Ablehnen/Ablehnung zurückziehen</span>
      </button>
    </mat-menu>
</ng-container>
