<ng-container>
  <button mat-icon-button [matMenuTriggerFor]="actionDropdown">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #actionDropdown="matMenu">
      <span matTooltip="{{ getEditTooltipText$() | async}}" [matTooltipDisabled]="canEditTopicDraft$() | async">
        <button mat-menu-item [disabled]="(canEditTopicDraft$() | async) === false" (click)="editTopicDraft()">
          <mat-icon>edit</mat-icon>
          <span>{{ 'submitted-topic-draft-action-button.edit' | translate }}</span>
        </button>
      </span>
    <span matTooltip="{{ 'submitted-topic-draft-action-button.tooltip.only-admin-or-initiator-permission-to-delete' | translate }}" [matTooltipDisabled]="canDeleteTopicDraft$() | async">
      <button mat-menu-item [disabled]="(canDeleteTopicDraft$() | async) === false" (click)="clickedDeleteTopicDraft()">
        <mat-icon>delete</mat-icon>
        <span>{{ 'submitted-topic-draft-action-button.delete-text' | translate }}</span>
      </button>
    </span>
    <span matTooltip="{{ 'submitted-topic-draft-action-button.tooltip.header' | translate }}">
        <button mat-menu-item (click)="clickedOpenComments()">
          <mat-icon>chat</mat-icon>
          <span>{{ 'submitted-topic-draft-action-button.comments-text' | translate }}</span>
        </button>
      </span>
    <span matTooltip="{{ 'submitted-topic-draft-action-button.tooltip.feature-coming-soon' | translate }}">
        <button mat-menu-item disabled (click)="printNotImplemented()">
          <mat-icon>exposure</mat-icon>
          <span>{{ 'submitted-topic-draft-action-button.submit-withdraw' | translate }}</span>
        </button>
      </span>
    <span matTooltip="{{getConvertToTeamTooltipText()}}" [matTooltipDisabled]="isTopicDraftConvertableToTeam$() | async">
        <button mat-menu-item [disabled]="(isTopicDraftConvertableToTeam$() | async) === false" (click)="convertToTeam()">
          <mat-icon>transform</mat-icon>
          <span>{{ 'submitted-topic-draft-action-button.create-team' | translate }}</span>
        </button>
      </span>
    <span matTooltip="{{ getApproveOrRejectTooltipText$() | async}}" [matTooltipDisabled]="canChangeCurrentStatus$() | async">
        <button mat-menu-item [disabled]="(canChangeCurrentStatus$() | async) === false" (click)="approvingTopicDraft()">
          <mat-icon>check_circle</mat-icon>
          <span>{{ getApprovalButtonText() }}</span>
        </button>
      </span>
    <span matTooltip="{{ getApproveOrRejectTooltipText$() | async}}" [matTooltipDisabled]="canChangeCurrentStatus$() | async">
        <button mat-menu-item [disabled]="(canChangeCurrentStatus$() | async) === false" (click)="rejectingTopicDraft()">
          <mat-icon>cancel</mat-icon>
          <span>{{ getRejectionButtonText() }}</span>
        </button>
      </span>
  </mat-menu>
</ng-container>
