<ng-container>
  <button mat-icon-button [matMenuTriggerFor]="actionDropdown">
    <mat-icon>more_vert</mat-icon>
  </button>
  <!-- TODO : Router link angeben - mWegmann 10.05.2021 -->
  <mat-menu #actionDropdown="matMenu">
      <span matTooltip="{{ getEditTooltipText$() | async}}" [matTooltipDisabled]="canEditTopicDraft$() | async">
        <button mat-menu-item [disabled]="!(canEditTopicDraft$() | async)" (click)="editTopicDraft()">
          <mat-icon>edit</mat-icon>
          <span>Bearbeiten</span>
        </button>
      </span>
    <button mat-menu-item [disabled]="!(currentUserService.isCurrentUserAdminOrCreator$(topicDraft.initiatorId) | async)" (click)="clickedDeleteTopicDraft()">
      <mat-icon>delete</mat-icon>
      <span>Löschen</span>
    </button>
    <span matTooltip="Feature kommt demnächst"
          i18n-matTooltip="@@feature-coming-soon">
        <button mat-menu-item disabled (click)="printNotImplemented()">
          <mat-icon>chat</mat-icon>
          <span>Kommentare</span>
        </button>
      </span>
    <span matTooltip="Feature kommt demnächst"
          i18n-matTooltip="@@feature-coming-soon">
        <button mat-menu-item disabled (click)="printNotImplemented()">
          <mat-icon>exposure</mat-icon>
          <span>Einreichen/Zurücknehmen</span>
        </button>
      </span>
    <span matTooltip="{{ getApproveTooltipText$() | async}}" [matTooltipDisabled]="canApproveTopicDraft$() | async">
        <button mat-menu-item [disabled]="!(canApproveTopicDraft$() | async)" (click)="approvingTopicDraft()">
          <mat-icon>check_circle</mat-icon>
          <span>{{ getApprovalButtonText() }}</span>
        </button>
      </span>
    <span matTooltip="{{ getRejectTooltipText$() | async}}" [matTooltipDisabled]="canRejectTopicDraft$() | async">
        <button mat-menu-item [disabled]="!(canRejectTopicDraft$() | async)" (click)="rejectingTopicDraft()">
          <mat-icon >cancel</mat-icon>
          <span>{{ getRejectionButtonText() }}</span>
        </button>
      </span>
  </mat-menu>
</ng-container>
