.tab-limited-width {
  max-width: 1280px;
}

.tab-headline {
  text-align: center;
  font-size: x-large;
  margin: 24px 0;
}

.tab-subtitle {
  text-align: center;
  font-size: larger;
  margin: 16px 16px 0 16px;
}

@media only screen and (min-width: 945px) {
  .tab-substructure-button {
    left: 0;
    position: absolute;
    margin: 14px 0 0 14px;
  }
}

@media only screen and (max-width: 945px) {
  .tab-substructure-button {
    position: relative;
    text-align: center;
    margin-top: 14px;
  }
  .substructure-button {
    position: relative;
  }
}
