<div class="flex-nowrap-center">
  <div class="tab-limited-width">
    <!-- Tab title and add subdepartments buton-->
    <div class="flex-nowrap">
      <div class="f-3">
        <div class="tab-headline" i18n="@@component_departmentTabSubDepartments_substructure">Unterstrukturen</div>
      </div>
      <div class="icon-spacer f-1" *ngIf="currentUserRole.isAtleastAdmin() && !cycle.isCycleClosed()">
        <button mat-mini-fab color="accent" (click)="clickedAddSubDepartment()">
          <mat-icon i18n-matTooltip="@@component_departmentTabSubDepartments_defineStructure" matTooltip="Neue Unterstruktur definieren">add_circle_outline</mat-icon>
        </button>
      </div>
    </div>
    <!-- Subdepartments -->
    <div *ngIf="corporateObjectiveStructure.subStructureIds.length == 0" class="tab-subtitle" i18n="@@component_departmentTabSubDepartments_noSubstructure">
      Es gibt noch keine Unterstrukturen für diese Struktur
    </div>
    <div class="flex-wrap-spreadinner">
      <div *ngFor="let currentdepartmentId of corporateObjectiveStructure.subStructureIds">
        <app-substructure-preview-button [structureId]="currentdepartmentId"></app-substructure-preview-button>
      </div>
    </div>
  </div>
</div>
