<mat-card class="dashboard-card"
        routerLink="/dashboard/{{dashboard.id}}" matTooltip="{{dashboard.title}}">
  <div class="f-1">
    <mat-icon class="font-32">dashboard</mat-icon>
    <button mat-icon-button class="dashboard_settings_button" (click)="$event.stopPropagation();">
      <mat-icon class="font-32 " [matMenuTriggerFor]="menu">more_vert</mat-icon>
    </button>
  </div>
  <div class="overflow-ellipsis f-5">
    {{dashboard.title}}
    <br><br>
    <span class="dashboard-card-created-by">
        {{'dashboard-card.created-by' | translate}} {{dashboard.creator.surname}} , {{dashboard.creator.givenName}}
      </span>
  </div>
</mat-card>

<mat-menu #menu="matMenu">
  <span matTooltip="{{'dashboard-card.delete-dashboard' | translate}}">
      <button mat-menu-item (click)="deleteDashboard.next(dashboard)">
        <mat-icon>delete</mat-icon>
        <span>{{'dashboard-card.delete-dashboard' | translate}}</span>
      </button>
    </span>
</mat-menu>
