.dashboard-card {
  height: auto;
  width: 30VW;
  margin: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
}

@media only screen and (max-width: 420px) {
  .dashboard-card {
    width: 240px;
  }
}

.dashboard-card-created-by {
  font-weight: lighter;
}

.dashboard-settings-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}

.dashboard-settings-button:active {
  background-color: #696969;
}

.dashboard-card-settings-button-wrapper {
  text-align: right;
}

.dashboard-icon {
  margin-top: 2px;
}
