.loading-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 512px;
}

.department-inactive {
  border-color: grey;
  border: 2px;
  border-style: dashed;
  color: gray;
  font-style: italic;
}

.no-padding {
  padding: 0;
}

.card-margin {
  margin: 16px 8px;
  padding: 0;
}

.inner-padding {
  padding: 16px 16px 8px 16px;
}

.avatar-spacer {
  margin-right: 25px;
}

.arrow-up {
  text-align: center;
  min-width: 40px;
  margin-right: 15px;
}

.department-title {
  font-size: x-large;
  font-weight: bold;
}

.department-subtitle {
}

.department-flex {
  flex: 2 0.5 256px;
}

.department-inactive-box {
  flex: 1 0 256px;
  padding: 4px;
}

.m-left {
  margin-left: 70px;
}

@media only screen and (max-width: 500px) {
  .avatar-spacer {
    min-width: 40px;
  }
}

.flex-department-title {
  min-width: 0;
}
