<div class="flex-nowrap-center">
  <ng-container *ngIf="!error404; else loadingError">
    <ng-container *ngIf="departmentView$ | async let info; else loading">
      <ng-container *ngIf="info.okrChildUnit as childUnit">
        <ng-container *ngIf="info.cycle as cycle">
          <ng-container *ngIf="info.currentUserRole as currentUserRole">
            <mat-card class="small-padding card-margin card-size"
              [ngClass]="{ 'inactive-element': !childUnit.isActive }">

              <div class="flex-wrap inner-padding">
                <div class="icon-spacer-large">
                  <button mat-icon-button matTooltip="Zu der übergeordneten Struktur"
                    (click)="moveToParentUnit(childUnit)" class="changePositionButton">
                    <mat-icon>arrow_upward</mat-icon>
                  </button>
                </div>

                <div class="flex-wrap-spreadinner f-1 flex-department-title">
                  <div class="department-flex overflow-ellipsis">
                    <div class="department-title overflow-ellipsis">{{ childUnit.name }}</div>
                    <div class="department-subtitle overflow-ellipsis"> {{ childUnit.label }}</div>
                  </div>
                  <div *ngIf="!childUnit.isActive" class="flex-nowrap-center department-inactive-box">
                    <mat-icon>info</mat-icon>
                    <span i18n="@@component_department_unitNotActive">Diese Struktur ist nicht aktiv</span>
                  </div>
                </div>
                <div class="icon-spacer-large" *ngIf="currentUserRole.isAtleastAdmin() && !cycle.isCycleClosed()">
                  <button mat-icon-button [matMenuTriggerFor]="optionsMenu"
                    [matMenuTriggerData]="{ childUnit: childUnit }">
                    <mat-icon i18n-matTooltip="@@component_company_moreOptions"
                      matTooltip="Mehr Optionen zu dieser Struktur">more_vert
                    </mat-icon>
                  </button>
                </div>
              </div>

              <br />
              <!-- Tabs -->
              <mat-tab-group animationDuration="350ms" *ngIf="activeTabs$ | async; let activeTabs">
                <!-- Overview Tab-->
                <mat-tab i18n-label="@@component_department_overview" label="Übersicht">
                  <div class="inner-padding">
                    <app-okr-child-unit-overview-tab [okrChildUnit]="childUnit" [currentUserRole]="currentUserRole"
                      [cycle]="cycle">
                    </app-okr-child-unit-overview-tab>
                  </div>
                </mat-tab>

                <!-- Members Tab-->
                <mat-tab i18n-label="@@component_department_teamMember" label="Teammitglieder"
                  *ngIf="activeTabs.teamsTab">
                  <div class="inner-padding">
                    <app-department-tab-team [department]="childUnit" [currentUserRole]="currentUserRole"
                      [cycle]="cycle">
                    </app-department-tab-team>
                  </div>
                </mat-tab>

                <!-- Subdepartments Tab-->
                <mat-tab i18n-label="@@component_department_childUnit" label="Unterstrukturen"
                  *ngIf="activeTabs.childUnitTab">
                  <ng-template matTabContent>
                    <div class="inner-padding">
                      <app-okr-child-unit-tab [okrBranch]="childUnit" [currentUserRole]="currentUserRole"
                        [cycle]="cycle">
                      </app-okr-child-unit-tab>
                    </div>
                  </ng-template>
                </mat-tab>

                <!-- Description Tab-->
                <mat-tab i18n-label="@@component_description" label="Beschreibung"
                         *ngIf="activeTabs.descriptionTab">
                  <ng-template matTabContent>
                      <div class="inner-padding">
                        <app-department-tab-description [department]="childUnit" [currentUserRole]="currentUserRole">
                        </app-department-tab-description>
                      </div>
                  </ng-template>
                </mat-tab>


                <!-- Tasks Tab -->
                <mat-tab i18n-label="@@taskBoardHeadline" label="Aufgaben" *ngIf="activeTabs.teamsTab">
                  <ng-template matTabContent>
                    <div class="inner-padding">
                      <app-department-tab-taskboard [childUnit]="childUnit" [currentUserRole]="currentUserRole"
                        [cycle]="cycle">

                      </app-department-tab-taskboard>
                    </div>
                  </ng-template>
                </mat-tab>

              </mat-tab-group>
            </mat-card>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<!-- Options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="before">
  <ng-template matMenuContent let-childUnit="childUnit">
    <button mat-menu-item (click)="clickedEditChildUnit(childUnit)">
      <mat-icon>edit</mat-icon>
      <span i18n="@@component_department_editchildUnit">Struktur bearbeiten</span>
    </button>
    <button mat-menu-item (click)="toggleChildActive(childUnit)">
      <div *ngIf="childUnit.isActive">
        <mat-icon>power_off</mat-icon>
        <span i18n="@@component_department_disableUnit">Struktur auf inaktiv setzen</span>
      </div>
      <div *ngIf="!childUnit.isActive">
        <mat-icon>power</mat-icon>
        <span i18n="@@component_department_enableUnit">Struktur auf aktiv setzen</span>
      </div>
    </button>
    <button mat-menu-item (click)="downloadOkrChildUnitExcelFile(childUnit)">
      <mat-icon>save_alt</mat-icon>
      <span i18n="@@capitalised_export">Exportieren</span>
    </button>
    <button mat-menu-item *ngIf="isDepartmentUnit(childUnit)" (click)="downloadDepartmentExcelEmailFile(childUnit)">
      <mat-icon>save_alt</mat-icon>
      <span i18n="@@export_contacts">Kontakte exportieren</span>
    </button>
    <div *ngIf="canChildUnitBeRemoved(childUnit); else cannotDeleteUnit;">
      <button mat-menu-item (click)="clickedRemoveChildUnit(childUnit)" [disabled]="!canChildUnitBeRemoved(childUnit)">
        <mat-icon>delete</mat-icon>
        <span i18n="@@component_department_deleteUnit">Struktur löschen</span>
      </button>
    </div>

    <ng-template #cannotDeleteUnit>
      <div i18n-matTooltip="@@component_department_cannotDeleteUnit"
        matTooltip="Kann wegen Unterstrukturen nicht gelöscht werden!">
        <button mat-menu-item [disabled]="true">
          <mat-icon>delete</mat-icon>
          <span i18n="@@component_department_deleteUnit">Struktur löschen</span>
        </button>
      </div>
    </ng-template>
  </ng-template>

</mat-menu>

<!-- Placeholder during loading of the okrChildUnit -->
<ng-template #loading2>
  <mat-card class="small-padding card-margin card-size">
    <div class="m-left">
      <div class="department-title" i18n="@@component_department_loadDepartment">Lade Department</div>
      <div class="department-subtitle" i18n="@@component_department_pleaseWait"> Bitte warten</div>
    </div>
    <mat-tab-group>
      <mat-tab i18n-label="@@component_department_overview" label="Übersicht">
        <div class="loading-content">
          <br />
          <mat-spinner></mat-spinner>
          <br />
        </div>
      </mat-tab>
      <mat-tab i18n-label="@@component_department_teamMember" label="Teammitglieder"></mat-tab>
      <mat-tab i18n-label="@@component_department_childUnit" label="Unterstrukturen"></mat-tab>
      <mat-tab i18n-label="@@taskBoardHeadline" label="Aufgaben"></mat-tab>
    </mat-tab-group>
  </mat-card>
</ng-template>


<ng-template #loading>
  <mat-card class="small-padding card-margin card-size">
    <div class="flex-wrap inner-padding">
      <div class="icon-spacer-large">
        <button mat-icon-button matTooltip="Zu der übergeordneten Struktur" disabled>
          <mat-icon>arrow_upward</mat-icon>
        </button>
      </div>

      <div class="flex-wrap-spreadinner f-1">
        <div class="department-flex">
          <div class="department-title" i18n="@@component_department_loadDepartment">Lade Department</div>
          <div class="department-subtitle" i18n="@@component_department_pleaseWait"> Bitte warten</div>
        </div>
      </div>
    </div>

    <br>

    <mat-tab-group>
      <mat-tab i18n-label="@@component_department_overview" label="Übersicht" class="inner-padding">
        <div class="loading-content">
          <br />
          <mat-spinner></mat-spinner>
          <br />
        </div>
      </mat-tab>
      <mat-tab i18n-label="@@component_department_tab_loading" label="Lade..." class="inner-padding"></mat-tab>
    </mat-tab-group>
  </mat-card>
</ng-template>

<ng-template #loadingError>
  <mat-card class="small-padding card-margin card-size">
    <div class="flex-wrap inner-padding">
      <div class="icon-spacer-large">
        <button mat-icon-button matTooltip="Zu der übergeordneten Struktur" disabled>
          <mat-icon>arrow_upward</mat-icon>
        </button>
      </div>

      <div class="flex-wrap-spreadinner f-1">
        <div class="department-flex">
          <div class="department-title" i18n="@@component_department_loadDepartmentFailed">Laden Fehlgeschlagen</div>
          <div class="department-subtitle" i18n="@@component_department_emptyLabel"> -</div>
        </div>
      </div>
    </div>

    <br>

    <mat-tab-group>
      <mat-tab i18n-label="@@component_department_errorInfoLabel" label="Info" class="inner-padding">
        <div class="inner-padding">
          <p i18n="@@component_department_loadDepartmentFailedInfoText">
            Die Struktur konnte nicht geladen werden. Sie könnte von einem anderen Nutzer gelöscht worden sein,
            oder der Server antwortet nicht.
          </p>
          <button mat-button mat-raised-button color="primary" (click)="moveToParentUnit404()"
            i18n="@@component_department_loadDepartmentFailedButton">Zur nächsthöheren Struktur</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</ng-template>
