.mat-cell, .mat-header-cell {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 2px;
}
.mat-cell.type {
  width: 2%;
  text-align: center;
}
.mat-cell.date {
  width: 13%;
  white-space: nowrap;
}
.mat-cell.user {
  width: 5%;
  text-align: center;
}
.mat-cell.field {
  width: 12%;
}
.mat-cell.changed-field {
  white-space: pre-line;
  width: 34%;
}
