<div class="pick-chart-type" mat-dialog-actions>
  <mat-form-field appearance="fill" class="chart-type-form-field">
    <mat-label>Select Type of New Chart</mat-label>
    <mat-select (selectionChange)="chartSelected($event)"
                class="chart-type-select" placeholder="{{'create-dashboard.type-of-chart-placeholder' | translate}}">
      <mat-option *ngFor="let chartType of chartTypes" [value]="chartType" class="chart-type-option">
        {{chartTypeRecord[chartType] | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button (click)="onNoClick()" mat-button mat-stroked-button>Cancel</button>

    <button [disabled]="!selectedType" [mat-dialog-close]="selectedType" class="chart-creation-add-button" mat-button
            mat-stroked-button>
      <mat-icon>add</mat-icon>
      <!--    {{'create-dashboard.add-chart-button' | translate}}-->
      Create Chart
    </button>
  </div>
</div>
