<ng-container *ngIf="feedbackForm$ | async as feedbackForm">
  <ng-container *ngIf="noCurrentRequest; else loadingspinner">
    <app-dialog-component i18n-title="@@component_feedbackForm_title" title="Feedback geben"
                          i18n-saveAndCloseLabel="@@component_feedbackForm_SendFeedback"
                          saveAndCloseLabel="Feedback absenden"
                          (okEmitter)="sendFeedback($event)" [formGroup]="feedbackForm">
      <form [formGroup]="feedbackForm">
        <div>
          <mat-form-field class="name fullWidth">
            <input type="text" i18n-placeholder="@@component_feedbackForm_name" matInput placeholder="Name *"
                   formControlName="name">
            <mat-error *ngIf="feedbackForm.get('name').invalid">{{getErrorMessage(feedbackForm, 'name')}}</mat-error>
          </mat-form-field>
          <mat-form-field class="feedbackText fullWidth">
            <textarea type="text" i18n-placeholder="@@component_feedbackForm_feedback" matInput placeholder="Feedback *"
                      formControlName="feedbackText"></textarea>
            <mat-error
              *ngIf="feedbackForm.get('feedbackText').invalid">{{getErrorMessage(feedbackForm, 'feedbackText')}}</mat-error>
          </mat-form-field>
        </div>
      </form>
    </app-dialog-component>
  </ng-container>
  <ng-template #loadingspinner>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
</ng-container>
