<app-dialog-component [title]="title" (okEmitter)="saveObjective()" [formGroup]="objectiveForm">
  <form [formGroup]="objectiveForm">
    <mat-form-field class="form-whole-line">
      <input type="text" matInput placeholder="Name *" formControlName="name">
      <mat-error *ngIf="objectiveForm.get('name').invalid">{{getErrorMessage(objectiveForm, 'name')}}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-whole-line">
      <mat-select i18n-placeholder="@@component_objectiveForm_selectParentObjective" placeholder="Übergeordnetes Objective auswählen" formControlName="parentObjectiveId">
        <mat-option [value]="null"><span i18n="@@component_objectiveForm_noParentObjective">Kein übergeordnetes Objective</span></mat-option>
        <mat-optgroup *ngFor="let item of parentElements$ | async" [label]="item.department.name">
          <mat-option *ngFor="let objective of item.objectiveList" [value]="objective.id">{{objective.name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-whole-line">
      <input type="text" i18n-placeholder="@@component_objectiveForm_description" matInput placeholder="Beschreibung" formControlName="description">
      <mat-error *ngIf="objectiveForm.get('description').invalid">{{getErrorMessage(objectiveForm, 'description')}}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-whole-line">
      <input type="text" i18n-placeholder="@@component_objectiveForm_annotation" matInput placeholder="Anmerkungen" formControlName="remark">
      <mat-error *ngIf="objectiveForm.get('remark').invalid">{{getErrorMessage(objectiveForm, 'remark')}}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-whole-line">
      <mat-select (selectionChange)="onSelectUser($event)" formControlName="contactPersonId"
                  i18n-placeholder="@@contactPerson" placeholder="Ansprechpartner">
        <mat-option [value]="null"><span i18n="@@component_objectiveForm_noContactPerson">Kein Ansprechpartner</span></mat-option>
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user?.email | lowercase}} ({{user.surname}}, {{user.givenName}})
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-slide-toggle formControlName="isActive" i18n="@@component_objectiveForm_objectiveIsActiveInProcess">
      Objective wird im aktuellen Zyklus aktiv bearbeitet
    </mat-slide-toggle>

  </form>

</app-dialog-component>
