<app-non-logged-in-card i18n-toolbarTitle="title of password reset page@@passwordResetTitle"
                        toolbarTitle="Burning OKR - Passwort zurücksetzen">
  <mat-card-header>
    <mat-card-title i18n="title of password reset page@@passwordResetTitle"> Burning OKR - Passwort zurücksetzen
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="passwordResetForm">
      <table class="fullWidth">
        <tr>
          <td>
            <mat-form-field class="form-whole-line">
              <input
                autocomplete="username"
                formControlName="email"
                i18n-placeholder="@@email"
                matInput
                placeholder="Email"
                required
                type="email">
              <mat-error *ngIf="passwordResetForm.invalid" i18n="error message for invalid email@@errorInvalidEmail">
                Ungültige E-mail
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions class="flex-nowrap">
    <button
      (click)="sendResetPasswordMail()"
      [disabled]="passwordResetForm.invalid"
      color="primary"
      i18n="@@resetPassword"
      mat-raised-button
      mat-ripple>
      Passwort zurücksetzen
    </button>
    <div *ngIf="emailHasBeenSentOut" class="message mat-accent">
      <mat-icon>mail_outline</mat-icon>
      <p i18n="@@passwordResetEmailHasBeenSendOut">
        Eine Email zum zurücksetzen Ihres Passworts wurde an die angegebene Email-Adresse versandt.
      </p>
    </div>

  </mat-card-actions>
</app-non-logged-in-card>
