<mat-card class="table-card mb-20">

  <div class="hidden-xl-down inner_row row">
    <div class="col-12 mat-header-cell inner_row">
      <span i18n="@@component_review_title">Review</span>
      <button mat-icon-button (click)="toggleEditMode()"><mat-icon>{{inEditMode ? 'save' : 'edit'}}</mat-icon></button>
    </div>

  </div>

  <p *ngIf="!inEditMode" class="pre-wrap">{{objective.review}}</p>
  <ng-container *ngIf="inEditMode">
    <br>
    <mat-form-field class="full-width" >
      <textarea i18n-placeholder="@@component_review_writeReview" matInput placeholder="Review schreiben" cdkTextareaAutosize [(ngModel)]="objective.review"></textarea>
    </mat-form-field>

  </ng-container>

</mat-card>

